<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>assignFluke</key>
    <string>CreateSolidDirect</string>
    <key>diamondIntenseStartAssembler</key>
    <string>HighlightDeriveSetHighlight</string>
    <key>definiteEnableOrganizerScenario</key>
    <string>TransitBlendQuotaSplit</string>
</dict>
</plist>
