<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>coordinatorFormSpeed</key>
	<string>chapterForStrategy</string>
	<key>fusedOverlayFormat</key>
	<string>rapidAwaitIndex</string>
	<key>gridEnvironmentName</key>
	<string>hardMethodDirection</string>
	<key>immutableStatefulValidation</key>
	<string>criticalMovementFeedback</string>
	<key>streamContainBuffer</key>
	<string>significantAnimationTint</string>
	<key>uniqueMovementLeft</key>
	<string>timerAsFramework</string>
</dict>
</plist>
