<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>organizerFragment</key>
    <string>ProviderKitElementalSnapshotter</string>
    <key>responseTrack</key>
    <string>OuterCreateModuleSet</string>
    <key>runtimeSetLakeAccelerateSunny</key>
    <string>DisplayTryOrigin</string>
    <key>forceBeginGlobal</key>
    <string>ForUpdateWithoutPetalOriginal</string>
    <key>deserializerExquisiteEdgeMapAccelerate</key>
    <string>WalkStartWorkspaceSetLucid</string>
    <key>steamBind</key>
    <string>FlatLastingDuring</string>
</dict>
</plist>
