<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>duneDefiniteSigner</key>
    <string>FacadeSerializeBroker</string>
    <key>driverShaderSet</key>
    <string>HybridMakeAbleMapperSetZone</string>
    <key>measureAmbientBuilder</key>
    <string>PromptKeeperStairOutput</string>
    <key>trackerSetEmberPrimeNear</key>
    <string>BalancerUpdaterMigrateCancelValidator</string>
    <key>chasmTrusted</key>
    <string>StencilSetTameSpectrumSet</string>
    <key>configureProjectorSet</key>
    <string>CreateBindMeasureSignature</string>
</dict>
</plist>
