<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>timerObserverPristineDown</key>
    <string>PromptCanvas</string>
    <key>rapidsCompare</key>
    <string>ProjectorMediatorTerminalSetConvert</string>
    <key>candidPipelineSet</key>
    <string>ExpertRegisterIntimateClose</string>
    <key>paintModularPresenterProtect</key>
    <string>SearchNormalizeAcrossAudioBalanced</string>
    <key>parcelMildRecord</key>
    <string>WorkspaceSetOperatorSyncer</string>
</dict>
</plist>
