<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>majorStormLocalize</key>
    <string>SyncUpgradeRequest</string>
    <key>rootViaBold</key>
    <string>BufferComputePristineOutside</string>
    <key>syncTemplateSet</key>
    <string>GenerateStarInside</string>
    <key>reservoirIntense</key>
    <string>PortraitSuiteSet</string>
    <key>resetIndexer</key>
    <string>PlaceConverterSelect</string>
    <key>trackerSetDiscreteClear</key>
    <string>CheckScaleRavenSpace</string>
</dict>
</plist>
