<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capacitiesAroundParam</key>
	<string>symmetricNavigatorTransparency</string>
	<key>constMultiplicationMomentum</key>
	<string>webEventPressure</string>
	<key>exceptionPrototypeBrightness</key>
	<string>effectAdapterHue</string>
	<key>getxByChain</key>
	<string>standaloneNavigationState</string>
	<key>labelTierVisibility</key>
	<string>disparateMasterMargin</string>
	<key>operationDespiteShape</key>
	<string>hashStateFormat</string>
	<key>similarGroupFormat</key>
	<string>entityAroundProcess</string>
	<key>streamOutsideForm</key>
	<string>routeAboutPlatform</string>
</dict>
</plist>
