<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concurrentMenuBehavior</key>
	<string>originalContainerDensity</string>
	<key>explicitProviderDelay</key>
	<string>borderParamSkewx</string>
	<key>oldTransitionIndex</key>
	<string>interactorThroughPattern</string>
	<key>operationNearTask</key>
	<string>textureAmongPhase</string>
	<key>persistentUtilVisibility</key>
	<string>touchActionBound</string>
	<key>pointAroundVar</key>
	<string>typicalPlateType</string>
	<key>providerWithoutScope</key>
	<string>durationAroundForm</string>
	<key>statePlatformMargin</key>
	<string>catalystByMethod</string>
	<key>uniqueCubitStyle</key>
	<string>primaryStampTheme</string>
</dict>
</plist>
