<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticVariableBottom</key>
	<string>anchorUntilType</string>
	<key>chartMethodTail</key>
	<string>alignmentStatePosition</string>
	<key>factoryPerAction</key>
	<string>activeCosineResponse</string>
	<key>histogramAmongChain</key>
	<string>exceptionBufferRight</string>
	<key>localVectorMomentum</key>
	<string>ternaryWithStructure</string>
	<key>mutablePresenterOrientation</key>
	<string>diffableOffsetPosition</string>
	<key>streamAboutObserver</key>
	<string>rowVariableShade</string>
	<key>symbolFacadeInset</key>
	<string>appbarAroundDecorator</string>
</dict>
</plist>
