<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concurrentBaseMargin</key>
	<string>utilStrategyTag</string>
	<key>hashFromTier</key>
	<string>graphDecoratorKind</string>
	<key>histogramChainDensity</key>
	<string>lossFrameworkTension</string>
	<key>localizationWorkAppearance</key>
	<string>entityWithStrategy</string>
	<key>mapAdapterDensity</key>
	<string>completerNumberInset</string>
	<key>mediaStageScale</key>
	<string>marginPlatformTail</string>
	<key>metadataFlyweightHead</key>
	<string>channelsAtFramework</string>
	<key>protocolAlongShape</key>
	<string>sharedFactoryRate</string>
	<key>usedPositionedStyle</key>
	<string>flexibleContainerLocation</string>
</dict>
</plist>
