<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>enabledScrollFrequency</key>
	<string>providerCompositeMargin</string>
	<key>interactorOutsideDecorator</key>
	<string>textureCycleFormat</string>
	<key>layoutDecoratorFormat</key>
	<string>listenerObserverIndex</string>
	<key>primaryGesturedetectorKind</key>
	<string>popupWithoutScope</string>
</dict>
</plist>
