<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>grainThanChain</key>
	<string>sineNumberAcceleration</string>
	<key>hyperbolicRectOrientation</key>
	<string>commonPlaybackTension</string>
	<key>materialDropdownbuttonOrigin</key>
	<string>diversifiedMonsterContrast</string>
	<key>scalePerCommand</key>
	<string>associatedConstraintSkewx</string>
	<key>sharedDocumentTop</key>
	<string>protocolStageInteraction</string>
	<key>specifierDecoratorTension</key>
	<string>shaderDespiteObserver</string>
</dict>
</plist>
