<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baselineNumberPressure</key>
	<string>missedGraphFeedback</string>
	<key>builderAdapterScale</key>
	<string>logAndMemento</string>
	<key>chapterInsideScope</key>
	<string>textureBridgeDelay</string>
	<key>convolutionVarTag</key>
	<string>constStatePosition</string>
	<key>largeSpriteSkewx</key>
	<string>particleParamTension</string>
	<key>layerValueBehavior</key>
	<string>dedicatedVariantVisible</string>
	<key>precisionDecoratorOrientation</key>
	<string>themeWithInterpreter</string>
	<key>significantShaderTail</key>
	<string>invisibleTweenFlags</string>
	<key>sinkSincePhase</key>
	<string>equalizationParameterEdge</string>
	<key>webProtocolAcceleration</key>
	<string>queryOutsideFlyweight</string>
</dict>
</plist>
