<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>heroOfActivity</key>
	<string>displayableChannelDistance</string>
	<key>hierarchicalConstraintPosition</key>
	<string>bitrateOrType</string>
	<key>permissiveDescriptionMode</key>
	<string>catalystProcessSpeed</string>
	<key>singletonDespiteAdapter</key>
	<string>navigatorFromValue</string>
	<key>usecaseFromStrategy</key>
	<string>textAgainstFramework</string>
	<key>utilPhaseTint</key>
	<string>presenterBesideContext</string>
</dict>
</plist>
