<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>markTextureSet</key>
    <string>FreshWorkbenchSetReplayGatewaySet</string>
    <key>acceleratePleasantRainProviderKit</key>
    <string>AlongCrispNectar</string>
    <key>directoryMiddlewareSetDarkOf</key>
    <string>AssembleSelectorSetBasin</string>
    <key>syncerOntoEndlessSymbolSet</key>
    <string>BriefLogLane</string>
    <key>focusedCairnOutsideParser</key>
    <string>NodeSolutionCreate</string>
    <key>jubilantMapSamplerSet</key>
    <string>IntuitiveYewHealthyWell</string>
    <key>conductorSampleWork</key>
    <string>AbleCreatorRefined</string>
</dict>
</plist>
