<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>atlasMapPauseTenderTelemetrySet</key>
    <string>WorkflowSetMatchFacade</string>
    <key>selfPause</key>
    <string>CollectorLocalizeRouter</string>
    <key>nearBinderCohesive</key>
    <string>JewelValidateTelemetrySetFormat</string>
    <key>steadyConnectorVerify</key>
    <string>CleanVerifyPlayWorkCoordinator</string>
    <key>threadedPanelSetDuring</key>
    <string>ExecuteOpenAuthorizeOutput</string>
    <key>mindfulSliceLogObserver</key>
    <string>SourceAgentTerseConsume</string>
    <key>moorShaderSet</key>
    <string>HeaderSetPresenterReturn</string>
    <key>offProtocolSetDataSource</key>
    <string>VisionMeasuredDatasetterBegin</string>
</dict>
</plist>
