<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>finishType</key>
    <string>ViaUpdateGroup</string>
    <key>markAmpleAgentLandscape</key>
    <string>PlayThroughoutInsideForce</string>
    <key>urbaneMap</key>
    <string>FormatLoaderClassTo</string>
    <key>intoSolidMeasuredBase</key>
    <string>ProperVast</string>
</dict>
</plist>
