<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentNearParameter</key>
	<string>allocatorStructureFrequency</string>
	<key>bulletAdapterFormat</key>
	<string>singletonContainProxy</string>
	<key>declarativeRadioVelocity</key>
	<string>topicExceptState</string>
	<key>labelVisitorOrientation</key>
	<string>diversifiedAspectBorder</string>
	<key>spritePlatformContrast</key>
	<string>blocSingletonTag</string>
</dict>
</plist>
