<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bulletFromFlyweight</key>
	<string>materialTempleVisibility</string>
	<key>controllerInCommand</key>
	<string>independentPlateMargin</string>
	<key>decorationOutsideParam</key>
	<string>disparateEventTop</string>
	<key>eventAboutMediator</key>
	<string>intensityShapeAcceleration</string>
	<key>functionalScaleShape</key>
	<string>subpixelTempleSkewx</string>
	<key>intuitiveTickerDelay</key>
	<string>arithmeticRouterAlignment</string>
	<key>nativeEntityShade</key>
	<string>decorationInsideNumber</string>
	<key>resourceAmongStyle</key>
	<string>graphForState</string>
	<key>stampPrototypeLocation</key>
	<string>hierarchicalPetScale</string>
	<key>usecaseInsideBuffer</key>
	<string>injectionAndFramework</string>
</dict>
</plist>
