<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>captionEnvironmentCenter</key>
	<string>intermediateNavigationValidation</string>
	<key>constraintOperationTag</key>
	<string>beginnerConfigurationTransparency</string>
	<key>numericalControllerTension</key>
	<string>curveEnvironmentFrequency</string>
	<key>sizedboxParamOpacity</key>
	<string>currentVectorPosition</string>
</dict>
</plist>
