<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>missedTextBorder</key>
	<string>multiVectorAlignment</string>
	<key>scenePrototypeShade</key>
	<string>stackUntilProxy</string>
	<key>statefulStateDensity</key>
	<string>declarativeGraphDistance</string>
	<key>sustainableConstraintLocation</key>
	<string>permissiveDecorationHead</string>
</dict>
</plist>
