<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>deferredCycleMode</key>
	<string>richtextNumberTag</string>
	<key>eventAmongVariable</key>
	<string>dependencyInsideFunction</string>
	<key>utilForPrototype</key>
	<string>pinchableObserverShade</string>
</dict>
</plist>
