<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentTypeSize</key>
	<string>alertModePadding</string>
	<key>clipperShapeTheme</key>
	<string>featureValueSkewy</string>
	<key>functionalRouterIndex</key>
	<string>inheritedCharacterSkewx</string>
	<key>musicVersusTemple</key>
	<string>marginNumberRight</string>
	<key>positionParameterInteraction</key>
	<string>difficultImageDuration</string>
	<key>responseContainLevel</key>
	<string>buttonAroundJob</string>
	<key>tweenWorkLeft</key>
	<string>animationAmongStrategy</string>
</dict>
</plist>
