<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetAmongPhase</key>
	<string>comprehensiveLogDepth</string>
	<key>axisDuringMemento</key>
	<string>playbackAsFlyweight</string>
	<key>callbackWithoutFlyweight</key>
	<string>mainChartBorder</string>
	<key>delicateRichtextTag</key>
	<string>reductionBesideJob</string>
	<key>greatEventContrast</key>
	<string>cartesianStreamShape</string>
	<key>skinUntilDecorator</key>
	<string>seamlessSubpixelSkewx</string>
	<key>unaryStateFormat</key>
	<string>actionLikeSystem</string>
</dict>
</plist>
