<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeDescriptionIndex</key>
	<string>tweenVisitorTag</string>
	<key>captionCommandVisibility</key>
	<string>unsortedStateVelocity</string>
	<key>crudeAllocatorBrightness</key>
	<string>substantialCustompaintDirection</string>
	<key>deferredArithmeticOpacity</key>
	<string>nativeFutureResponse</string>
	<key>descriptorIncludeSingleton</key>
	<string>sequentialSymbolTag</string>
	<key>enabledErrorBrightness</key>
	<string>controllerObserverBehavior</string>
	<key>globalSliderHead</key>
	<string>builderNearCommand</string>
	<key>mediumAlignmentHead</key>
	<string>shaderMethodMomentum</string>
	<key>stepVariableEdge</key>
	<string>pinchableRichtextName</string>
</dict>
</plist>
