<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>removeSphere</key>
    <string>BesideBehindTargetVast</string>
    <key>largeJourneyUnderCollection</key>
    <string>MediatorJungleDispatcherGenerate</string>
    <key>wayAroundController</key>
    <string>DiscreteTowardInletPath</string>
    <key>firthSleekManagerAmong</key>
    <string>WithinBeginAlongside</string>
    <key>connectCoherentClassCoder</key>
    <string>ParseRealAngle</string>
    <key>profileLucent</key>
    <string>VineHoldSilverGateway</string>
    <key>offsetJudiciousBaseParse</key>
    <string>DecentAzurePause</string>
</dict>
</plist>
