<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>waitLastingClassEntry</key>
    <string>SplitVerifyElite</string>
    <key>handlerCool</key>
    <string>ControllerBinaryFilter</string>
    <key>terrainThickAccept</key>
    <string>RecordChasmHandler</string>
    <key>closeHumane</key>
    <string>SoundBasicClean</string>
    <key>executeFactory</key>
    <string>HavenGlobalSlip</string>
    <key>definedFrom</key>
    <string>ManagerManagerCommandSound</string>
    <key>chiefFromLivelyReference</key>
    <string>GloriousBehindTower</string>
</dict>
</plist>
