<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorLayerOrientation</key>
	<string>roleLayerPadding</string>
	<key>currentBlocType</key>
	<string>iconStructureCount</string>
	<key>easyStorageLeft</key>
	<string>functionalControllerFeedback</string>
	<key>errorPlatformPosition</key>
	<string>controllerOutsideFlyweight</string>
	<key>graphFromScope</key>
	<string>techniqueSinceNumber</string>
	<key>hashInsideFlyweight</key>
	<string>sizeAboutEnvironment</string>
	<key>sliderFunctionVisible</key>
	<string>popupVisitorScale</string>
	<key>temporaryStoreCoord</key>
	<string>lossAwayMethod</string>
</dict>
</plist>
