<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleCheckboxCenter</key>
	<string>graphicTaskDistance</string>
	<key>brushDespiteFlyweight</key>
	<string>zoneSinceChain</string>
	<key>futureScopeVelocity</key>
	<string>associatedResultSize</string>
	<key>referenceTaskState</key>
	<string>crucialRadioContrast</string>
	<key>secondContractionCoord</key>
	<string>menuValueLeft</string>
	<key>signatureSystemValidation</key>
	<string>marginIncludeMode</string>
</dict>
</plist>
