<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>selectorSetCreator</key>
    <string>FindReplaceParseTactfulMerge</string>
    <key>emitterTimelineSetSubmit</key>
    <string>HoldViewDuring</string>
    <key>runTextureSetProtect</key>
    <string>ReplaceSacredOffDataSource</string>
</dict>
</plist>
