<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commonStoryboardTail</key>
	<string>sinkAlongBridge</string>
	<key>delicateExceptionOrientation</key>
	<string>directResultVisibility</string>
	<key>handlerParamDensity</key>
	<string>diversifiedRequestPadding</string>
	<key>isolateContainKind</key>
	<string>exponentPerCycle</string>
	<key>respectiveTouchMode</key>
	<string>seamlessNibInset</string>
	<key>symbolEnvironmentAppearance</key>
	<string>capsuleAgainstChain</string>
	<key>tableContainStage</key>
	<string>localizationBeyondWork</string>
</dict>
</plist>
