<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>brushBesideOperation</key>
	<string>indicatorCycleStyle</string>
	<key>convolutionThanParameter</key>
	<string>spriteStateRight</string>
	<key>interfaceContainProcess</key>
	<string>tappableSinkLocation</string>
	<key>layoutContextAcceleration</key>
	<string>projectionSinceScope</string>
	<key>painterAboutFacade</key>
	<string>methodAtFlyweight</string>
	<key>remainderAmongPattern</key>
	<string>smallAlignmentColor</string>
	<key>staticTextureAppearance</key>
	<string>agileBaselineState</string>
	<key>unactivatedOptionPosition</key>
	<string>extensionShapeOffset</string>
</dict>
</plist>
