<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completerOperationScale</key>
	<string>boxParamSkewx</string>
	<key>consultativeMissionBottom</key>
	<string>bulletThanAdapter</string>
	<key>interactiveModalPressure</key>
	<string>batchSingletonDirection</string>
	<key>modelBesideWork</key>
	<string>normalCharacterAlignment</string>
	<key>movementWithNumber</key>
	<string>sineStructureTension</string>
	<key>oldOperationDirection</key>
	<string>cellInMode</string>
	<key>queueTierTheme</key>
	<string>rowLikePattern</string>
	<key>retainedCapacitiesTint</key>
	<string>providerByInterpreter</string>
	<key>spineInInterpreter</key>
	<string>eagerFeatureSkewx</string>
	<key>tabbarDespiteFacade</key>
	<string>missionAndMemento</string>
</dict>
</plist>
