<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>zenithSerializerKnownTo</key>
    <string>GladAmberAddLoader</string>
    <key>commandCarefulCanvasRestore</key>
    <string>SearchReflectUntilHavenLoad</string>
    <key>turnCoordinatorSyncGentle</key>
    <string>SetToolAgilePeak</string>
    <key>assignCache</key>
    <string>PlayProviderDebugCompact</string>
    <key>decodeHistoryKindHelper</key>
    <string>HelperCoordinatorTrack</string>
    <key>templeEasyLock</key>
    <string>CompatibleDown</string>
    <key>protocolIdealVerseEnable</key>
    <string>HideRequestRapidsTryRare</string>
</dict>
</plist>
