<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonTypeSkewy</key>
	<string>managerVarDistance</string>
	<key>completerPrototypeInset</key>
	<string>screenLevelTag</string>
	<key>directManagerState</key>
	<string>transitionStateFrequency</string>
	<key>errorThroughValue</key>
	<string>animatedcontainerOutsideComposite</string>
	<key>navigatorBufferFormat</key>
	<string>usecaseForDecorator</string>
	<key>otherOffsetScale</key>
	<string>dedicatedSegueMomentum</string>
	<key>resolverStageSpacing</key>
	<string>geometricIsolatePressure</string>
	<key>vectorStageCenter</key>
	<string>priorGridInteraction</string>
</dict>
</plist>
