<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baseKindBottom</key>
	<string>persistentNormAcceleration</string>
	<key>cupertinoPhaseCoord</key>
	<string>tabviewInterpreterDelay</string>
	<key>dependencyScopeSaturation</key>
	<string>stampDespiteAction</string>
	<key>grainParameterCount</key>
	<string>matrixOrVisitor</string>
	<key>gridviewChainEdge</key>
	<string>respectiveTableSpeed</string>
	<key>projectTaskResponse</key>
	<string>protocolUntilPlatform</string>
	<key>rowVisitorShape</key>
	<string>smallRouteRight</string>
	<key>scaffoldAlongOperation</key>
	<string>significantSessionOffset</string>
	<key>viewUntilTier</key>
	<string>listenerAgainstTask</string>
</dict>
</plist>
