<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationAlongForm</key>
	<string>vectorValueKind</string>
	<key>boxAwayShape</key>
	<string>logAroundPattern</string>
	<key>cursorSinceObserver</key>
	<string>routeStructureStyle</string>
	<key>delegateBesideFunction</key>
	<string>layerThroughTier</string>
	<key>featureStageFeedback</key>
	<string>publicSampleVisibility</string>
	<key>iterativeBinaryTint</key>
	<string>intuitivePageviewDirection</string>
	<key>mapLikeActivity</key>
	<string>sceneValueDistance</string>
	<key>particleStageRate</key>
	<string>bitrateModeMargin</string>
</dict>
</plist>
