<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>onCautious</key>
    <string>BelowMonitorVisionHandle</string>
    <key>throttleWorkspaceSetEveryday</key>
    <string>SacredTimelineSetAbundant</string>
    <key>indexRadiantLedgerSetDispatcherSet</key>
    <string>TextureSetGatewaySwitcherTextSuite</string>
    <key>wanderProudConverterAbove</key>
    <string>DisplaySpeckledAfterBelow</string>
    <key>jungleQualityDispatch</key>
    <string>CalmGuidebook</string>
    <key>withoutSpringSoftMapperSet</key>
    <string>MeasureDispatcherSetTimelineSetThen</string>
    <key>loyalRemove</key>
    <string>FindConsumeGet</string>
    <key>sessionKitEnqueueBrisk</key>
    <string>HelperTopRoundPipelineSetThread</string>
    <key>computeBrokerGloriousHard</key>
    <string>QuillLandscapeSaveQuillMixer</string>
</dict>
</plist>
