<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectUntilScope</key>
	<string>requiredSignatureRight</string>
	<key>assetLikeDecorator</key>
	<string>customThemeStyle</string>
	<key>consumerExceptSystem</key>
	<string>movementObserverStyle</string>
	<key>containerLayerName</key>
	<string>dimensionCycleStatus</string>
	<key>coordinatorFromCommand</key>
	<string>functionalContainerLocation</string>
	<key>interactorTypeTag</key>
	<string>requestBeyondVisitor</string>
	<key>lastObserverKind</key>
	<string>mainWidgetStyle</string>
	<key>marginShapeMargin</key>
	<string>listviewNearJob</string>
	<key>usageAmongFunction</key>
	<string>subscriptionAndLevel</string>
	<key>webUtilEdge</key>
	<string>opaqueSlashType</string>
</dict>
</plist>
