<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>documentViaContext</key>
	<string>disabledLogarithmIndex</string>
	<key>richtextMediatorSkewy</key>
	<string>touchForVariable</string>
	<key>sizedboxBridgeHead</key>
	<string>aspectDecoratorTransparency</string>
	<key>sizedboxPrototypeFlags</key>
	<string>fusedStatelessFormat</string>
</dict>
</plist>
