<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedVectorOrigin</key>
	<string>multiCompletionPressure</string>
	<key>composableAnimationSize</key>
	<string>delegateActionInset</string>
	<key>keyVectorBottom</key>
	<string>columnFromMode</string>
	<key>labelStageResponse</key>
	<string>completerWithBuffer</string>
	<key>momentumObserverKind</key>
	<string>tappableGridviewTransparency</string>
	<key>resultAgainstFacade</key>
	<string>viewBufferCenter</string>
	<key>statefulReducerDepth</key>
	<string>independentInjectionTag</string>
	<key>themeUntilVar</key>
	<string>coordinatorAndInterpreter</string>
</dict>
</plist>
