<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionDecoratorOpacity</key>
	<string>observerSingletonCount</string>
	<key>alignmentWorkFlags</key>
	<string>subtleCardVisibility</string>
	<key>criticalSignatureDelay</key>
	<string>boxMethodFlags</string>
	<key>cursorStatePadding</key>
	<string>publicAssetInteraction</string>
	<key>deferredOperationDuration</key>
	<string>significantPresenterForce</string>
	<key>flexibleCatalystShade</key>
	<string>challengeAgainstObserver</string>
	<key>mutableStoreKind</key>
	<string>largeSliderIndex</string>
	<key>sharedUsecaseInset</key>
	<string>eagerEntropySize</string>
</dict>
</plist>
