<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activityLayerHead</key>
	<string>crudeCardName</string>
	<key>lostStoreTail</key>
	<string>baselineInsideCommand</string>
	<key>opaqueEntropySkewy</key>
	<string>delicateEffectTag</string>
	<key>plateAmongValue</key>
	<string>lastLayoutOffset</string>
</dict>
</plist>
