<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cellAndMemento</key>
	<string>protocolWithoutPrototype</string>
	<key>directMultiplicationMomentum</key>
	<string>primaryDocumentOffset</string>
	<key>eventFromTier</key>
	<string>resolverDecoratorSkewy</string>
	<key>kernelBufferDirection</key>
	<string>zoneAdapterState</string>
	<key>metadataTaskVelocity</key>
	<string>variantLayerRight</string>
	<key>mobxThroughType</key>
	<string>graphEnvironmentAppearance</string>
	<key>pinchableSizedboxSpacing</key>
	<string>dimensionEnvironmentDirection</string>
	<key>pivotalAccessoryTheme</key>
	<string>smartTitleEdge</string>
	<key>relationalIntegerVisible</key>
	<string>gramAroundPattern</string>
	<key>rowNearValue</key>
	<string>missionVisitorHue</string>
</dict>
</plist>
