<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>extensionContainFacade</key>
	<string>momentumActivityFlags</string>
	<key>firstEventFrequency</key>
	<string>decorationIncludeScope</string>
	<key>mobileChapterEdge</key>
	<string>binaryAgainstWork</string>
	<key>navigatorMethodSpeed</key>
	<string>tappablePaddingOpacity</string>
	<key>stampPlatformForce</key>
	<string>completerObserverLocation</string>
	<key>stampPrototypeIndex</key>
	<string>mapBesideCommand</string>
</dict>
</plist>
