<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocDespiteStructure</key>
	<string>intensityOperationRotation</string>
	<key>builderTypeMode</key>
	<string>animatedcontainerBesideComposite</string>
	<key>buttonFrameworkInset</key>
	<string>gridviewPhaseMomentum</string>
	<key>controllerMementoStatus</key>
	<string>explicitButtonAppearance</string>
	<key>loopBesideCommand</key>
	<string>diffableOperationAcceleration</string>
	<key>resourceAmongPrototype</key>
	<string>stackThanFunction</string>
	<key>scaffoldAboutVisitor</key>
	<string>optimizerMethodForce</string>
	<key>threadInterpreterEdge</key>
	<string>constPrecisionSpacing</string>
</dict>
</plist>
