<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphaMediatorDepth</key>
	<string>handlerOutsideCycle</string>
	<key>constraintAlongTemple</key>
	<string>robustPopupAlignment</string>
	<key>cycleOperationCoord</key>
	<string>mobileCompleterRate</string>
	<key>enabledCompleterBehavior</key>
	<string>tensorMaterialCenter</string>
	<key>grayscaleStageValidation</key>
	<string>effectPlatformPadding</string>
	<key>mediumLossSpeed</key>
	<string>animatedLayoutRate</string>
	<key>nextScreenForce</key>
	<string>priorRoleSpeed</string>
	<key>particleFacadeOrigin</key>
	<string>nodeOutsideBridge</string>
	<key>scaleLayerVelocity</key>
	<string>streamObserverCoord</string>
</dict>
</plist>
