<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cupertinoMethodPressure</key>
	<string>missionAndStrategy</string>
	<key>normalSwiftAppearance</key>
	<string>extensionAmongSystem</string>
	<key>smallBaseCount</key>
	<string>animationVariableStyle</string>
	<key>variantContextBottom</key>
	<string>advancedSlashState</string>
</dict>
</plist>
