<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetMethodMargin</key>
	<string>tickerAndParam</string>
	<key>crucialIntensityDelay</key>
	<string>movementCompositeInteraction</string>
	<key>elasticBlocType</key>
	<string>hashOrComposite</string>
	<key>imageThanContext</key>
	<string>priorFutureCount</string>
	<key>interactorParamStyle</key>
	<string>effectNumberType</string>
	<key>resizableVariantSpacing</key>
	<string>cellTempleVelocity</string>
	<key>smartPaddingIndex</key>
	<string>accessibleProgressbarMargin</string>
</dict>
</plist>
