<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>durationLayerMargin</key>
	<string>titleTypeHead</string>
	<key>entropyFlyweightFrequency</key>
	<string>integerProcessLeft</string>
	<key>gemWorkVisible</key>
	<string>borderThroughPattern</string>
	<key>lastSignBound</key>
	<string>chartProcessState</string>
	<key>progressbarByAction</key>
	<string>dedicatedCapsulePadding</string>
	<key>serviceInterpreterStyle</key>
	<string>musicVarAlignment</string>
</dict>
</plist>
