<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>nativeResolverOffset</key>
	<string>tangentBufferColor</string>
	<key>normalStreamDensity</key>
	<string>descriptionChainAcceleration</string>
	<key>rowAtShape</key>
	<string>reactiveIsolateDirection</string>
	<key>serviceValueAppearance</key>
	<string>popupValueName</string>
</dict>
</plist>
