<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>injectionLayerSkewx</key>
	<string>visibleBuilderVelocity</string>
	<key>particleDuringVisitor</key>
	<string>behaviorScopeLeft</string>
	<key>sampleAtAction</key>
	<string>criticalHandlerCenter</string>
</dict>
</plist>
