<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureAmongObserver</key>
	<string>easyDialogsDuration</string>
	<key>previewFacadeFeedback</key>
	<string>allocatorProxyPosition</string>
</dict>
</plist>
