<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>middlewareSetInto</key>
    <string>CoordinateJunctionWorkflow</string>
    <key>lineThinOnShaderSet</key>
    <string>StatePreloadSetCompute</string>
    <key>preciousThen</key>
    <string>ProviderKitEndWithoutBlithe</string>
    <key>parallelGlacierClean</key>
    <string>TableLeapInsert</string>
    <key>aggregatePastDataSourceVirtuous</key>
    <string>RefinedDecentOver</string>
    <key>robustTopologySetContainerSet</key>
    <string>ParserHeartySilent</string>
    <key>featureSetOver</key>
    <string>PipelineSetConvertOuter</string>
</dict>
</plist>
