<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>eventThanStyle</key>
	<string>blocFormInset</string>
	<key>modelForFunction</key>
	<string>resourceMementoCenter</string>
	<key>responsiveChannelOffset</key>
	<string>concreteWidgetPadding</string>
	<key>routeScopeValidation</key>
	<string>dimensionAgainstState</string>
	<key>sequentialEffectDensity</key>
	<string>paddingWithAction</string>
	<key>tableViaAction</key>
	<string>inheritedMissionName</string>
	<key>tabviewActionTension</key>
	<string>controllerTaskLocation</string>
</dict>
</plist>
