<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedResourceAlignment</key>
	<string>observerOfFunction</string>
	<key>entropyMethodHead</key>
	<string>dependencyPlatformForce</string>
	<key>explicitViewBehavior</key>
	<string>routeStageOrientation</string>
	<key>layoutAgainstScope</key>
	<string>finalMediaqueryShade</string>
	<key>layoutWithVar</key>
	<string>sliderForLevel</string>
	<key>typicalApertureTop</key>
	<string>offsetScopeAppearance</string>
	<key>unaryOfShape</key>
	<string>storyboardSystemType</string>
</dict>
</plist>
