<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dimensionThanBridge</key>
	<string>usageMementoVelocity</string>
	<key>methodStyleAcceleration</key>
	<string>boxshadowOperationPosition</string>
	<key>tabbarBesidePlatform</key>
	<string>alignmentParameterHue</string>
</dict>
</plist>
