<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completerPhaseTint</key>
	<string>referenceAroundLayer</string>
	<key>hierarchicalCertificateCenter</key>
	<string>draggableSinkShade</string>
	<key>immediateSwiftRight</key>
	<string>singleHeroSkewx</string>
	<key>intuitiveWidgetPadding</key>
	<string>flexibleUnaryBrightness</string>
	<key>priorSizeTag</key>
	<string>interfaceDespiteContext</string>
	<key>secondFeatureOpacity</key>
	<string>secondMediaqueryFrequency</string>
	<key>titleParamScale</key>
	<string>hashPhaseOffset</string>
</dict>
</plist>
