<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertOutsideNumber</key>
	<string>streamLikeVariable</string>
	<key>frameBridgeInset</key>
	<string>boxValueCenter</string>
	<key>modelOperationAcceleration</key>
	<string>sophisticatedUtilTheme</string>
	<key>optimizerShapeEdge</key>
	<string>buttonFrameworkTheme</string>
	<key>robustRadiusAcceleration</key>
	<string>frameAmongTemple</string>
	<key>storeActionOrigin</key>
	<string>hashActivityRotation</string>
	<key>tabbarDuringTemple</key>
	<string>exceptionKindLocation</string>
</dict>
</plist>
