<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileConvolutionState</key>
	<string>commandBesideContext</string>
	<key>aspectFrameworkMomentum</key>
	<string>newestMusicSpeed</string>
	<key>cubitContextAppearance</key>
	<string>activeGridSkewy</string>
	<key>decorationInsideFlyweight</key>
	<string>descriptorCommandMargin</string>
	<key>offsetTempleBehavior</key>
	<string>mediocreModulusName</string>
	<key>petJobTheme</key>
	<string>missedUtilOffset</string>
	<key>queueStrategyLeft</key>
	<string>statefulIntegerSaturation</string>
</dict>
</plist>
