<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncDelegateOrigin</key>
	<string>easyApertureSpeed</string>
	<key>compositionSystemBrightness</key>
	<string>symbolInMode</string>
	<key>intuitiveImagePressure</key>
	<string>decorationOfTemple</string>
	<key>musicEnvironmentOrientation</key>
	<string>cubitLikeProcess</string>
	<key>nextOffsetTransparency</key>
	<string>decorationNumberCount</string>
	<key>responseTypeAcceleration</key>
	<string>durationOfPattern</string>
	<key>routeLayerAppearance</key>
	<string>tweenUntilType</string>
	<key>switchOutsidePlatform</key>
	<string>buttonStateSize</string>
	<key>tappableRouterRotation</key>
	<string>currentTransitionOrientation</string>
	<key>webUnaryVisible</key>
	<string>sharedWorkflowRotation</string>
</dict>
</plist>
