<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocParameterCoord</key>
	<string>managerSinceVariable</string>
	<key>riverpodActivityOffset</key>
	<string>sizePerChain</string>
	<key>sinkContextDuration</key>
	<string>rectBridgeDirection</string>
	<key>sortedContainerState</key>
	<string>modelInsideType</string>
	<key>streamVarCount</key>
	<string>disparateBaselinePadding</string>
	<key>tweenExceptFunction</key>
	<string>temporaryLayerVisible</string>
</dict>
</plist>
