<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnerMovementDirection</key>
	<string>listenerAgainstComposite</string>
	<key>groupAsFramework</key>
	<string>utilAgainstStage</string>
	<key>histogramThanActivity</key>
	<string>loopBufferRate</string>
	<key>positionCompositeDirection</key>
	<string>progressbarInterpreterInterval</string>
</dict>
</plist>
