<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetAsMode</key>
	<string>globalListenerAlignment</string>
	<key>nativeConsumerRate</key>
	<string>flexibleCompositionState</string>
	<key>parallelHeroSkewy</key>
	<string>heroAboutFacade</string>
	<key>resourceAdapterValidation</key>
	<string>errorWorkRight</string>
	<key>resultMementoMomentum</key>
	<string>activeLogarithmScale</string>
	<key>touchAndTemple</key>
	<string>popupLayerLeft</string>
</dict>
</plist>
