<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionThanVar</key>
	<string>futureByAction</string>
	<key>comprehensiveNodePressure</key>
	<string>permanentBulletDepth</string>
	<key>decorationActionDepth</key>
	<string>crudeFactoryShape</string>
	<key>kernelObserverTheme</key>
	<string>sizedboxFacadeTension</string>
	<key>similarConfigurationForce</key>
	<string>instructionAndForm</string>
	<key>tabviewInterpreterPressure</key>
	<string>layerTempleOrigin</string>
	<key>textureIncludeChain</key>
	<string>alphaAtStructure</string>
	<key>tweenFlyweightTop</key>
	<string>utilDuringDecorator</string>
</dict>
</plist>
