<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphaPrototypeOffset</key>
	<string>significantProviderRight</string>
	<key>assetEnvironmentKind</key>
	<string>immutableMobxVisibility</string>
	<key>coordinatorSystemStatus</key>
	<string>matrixStageKind</string>
	<key>cubeAgainstMode</key>
	<string>titleLevelKind</string>
	<key>deferredNavigationOrientation</key>
	<string>capsuleWithoutWork</string>
	<key>draggableBinaryFormat</key>
	<string>mapSingletonType</string>
	<key>memberAmongParam</key>
	<string>textMediatorSkewx</string>
	<key>permissiveTopicColor</key>
	<string>adaptiveRouteName</string>
	<key>routerVarType</key>
	<string>controllerVariableEdge</string>
	<key>textureStylePressure</key>
	<string>marginStateOrigin</string>
</dict>
</plist>
