<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capacitiesViaForm</key>
	<string>discardedResolverTop</string>
	<key>desktopResourceMomentum</key>
	<string>mapFunctionColor</string>
	<key>documentSincePrototype</key>
	<string>modalStateSkewy</string>
	<key>eventFlyweightHead</key>
	<string>intensityStyleTail</string>
	<key>intuitiveArithmeticOrientation</key>
	<string>rapidSceneSpacing</string>
	<key>mobilePatternForce</key>
	<string>completionParameterVisible</string>
	<key>navigationPhaseVisible</key>
	<string>difficultIntensityScale</string>
	<key>particleCommandSkewy</key>
	<string>bufferFacadeShade</string>
	<key>typicalPreviewShade</key>
	<string>tappableFactoryVisibility</string>
</dict>
</plist>
