<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedCompositionTag</key>
	<string>exceptionKindTheme</string>
	<key>channelOperationPosition</key>
	<string>positionedMethodSkewx</string>
	<key>loopVisitorType</key>
	<string>explicitMetadataFeedback</string>
	<key>menuFromLevel</key>
	<string>paddingInsideTemple</string>
	<key>missedCatalystBehavior</key>
	<string>interactiveQueryTail</string>
</dict>
</plist>
