<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectratioWithoutLayer</key>
	<string>presenterProcessEdge</string>
	<key>cosineMethodOpacity</key>
	<string>modulusAtLevel</string>
	<key>gateBeyondPattern</key>
	<string>mediocreActionStatus</string>
	<key>intermediateEffectMargin</key>
	<string>capacitiesProcessOffset</string>
	<key>nativeBoxPosition</key>
	<string>priorityDuringFunction</string>
	<key>normalTaskMode</key>
	<string>textureAtMethod</string>
	<key>routeAlongShape</key>
	<string>visibleDescriptionCount</string>
	<key>scaleIncludeContext</key>
	<string>referenceVariablePosition</string>
</dict>
</plist>
