<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>coordinatorBeyondCycle</key>
	<string>awaitShapeForce</string>
	<key>graphParameterDepth</key>
	<string>serviceNearObserver</string>
	<key>intensityBeyondDecorator</key>
	<string>movementWorkHead</string>
	<key>richtextContextState</key>
	<string>prioritySinceBridge</string>
</dict>
</plist>
