<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commonExceptionDensity</key>
	<string>inheritedGestureHue</string>
	<key>cubitProcessTag</key>
	<string>euclideanSegueFrequency</string>
	<key>geometricEventShape</key>
	<string>cubitAtContext</string>
	<key>memberLevelTheme</key>
	<string>titleLayerOrientation</string>
	<key>seamlessBufferTint</key>
	<string>logarithmCompositeResponse</string>
	<key>topicCompositeShape</key>
	<string>viewPatternSize</string>
	<key>usedGroupCount</key>
	<string>expandedSinceVariable</string>
</dict>
</plist>
