<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionStateOrigin</key>
	<string>singletonObserverOrientation</string>
	<key>cartesianGesturedetectorOpacity</key>
	<string>immediateModalDirection</string>
	<key>cupertinoScrollShape</key>
	<string>cellLayerIndex</string>
	<key>curveShapeInteraction</key>
	<string>interactiveLoopVisibility</string>
	<key>functionalGestureTail</key>
	<string>errorStageDuration</string>
	<key>fusedMonsterTheme</key>
	<string>expandedIncludeKind</string>
	<key>lostInkwellFormat</key>
	<string>resourceShapeCoord</string>
</dict>
</plist>
