<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>graphSinceSingleton</key>
	<string>gradientInterpreterContrast</string>
	<key>groupStructureRotation</key>
	<string>switchVariableAppearance</string>
	<key>localSubscriptionSize</key>
	<string>scaleDespiteMemento</string>
	<key>queueStateAcceleration</key>
	<string>lastBulletType</string>
	<key>statelessPlateTension</key>
	<string>errorCompositeDepth</string>
</dict>
</plist>
