<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocStructureTag</key>
	<string>usecaseWithoutAdapter</string>
	<key>containerViaType</key>
	<string>commandDecoratorVisibility</string>
	<key>projectionWorkAcceleration</key>
	<string>secondWidgetPosition</string>
	<key>providerActionColor</key>
	<string>tensorChannelOpacity</string>
	<key>semanticStorageDelay</key>
	<string>profileSystemFeedback</string>
	<key>unsortedVectorRight</key>
	<string>nativeCacheLeft</string>
</dict>
</plist>
