<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedDelegateFrequency</key>
	<string>remainderAlongObserver</string>
	<key>beginnerResolverInterval</key>
	<string>logarithmPhaseCenter</string>
	<key>mutableCellBrightness</key>
	<string>zoneSinceVisitor</string>
	<key>retainedLoopColor</key>
	<string>priorRadiusMode</string>
	<key>shaderThroughStructure</key>
	<string>sinkMediatorTransparency</string>
	<key>signOfJob</key>
	<string>numericalWidgetContrast</string>
</dict>
</plist>
