<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>properAdapterTreat</key>
    <string>ImplementCanyonImport</string>
    <key>tenseTargetCalmOff</key>
    <string>LevelToolLoyalCareful</string>
    <key>replaceType</key>
    <string>FaintRowYardSacred</string>
    <key>betweenChasm</key>
    <string>GloriousContainerTest</string>
    <key>natureOriginalSaver</key>
    <string>TrackJudicious</string>
    <key>dropCompatible</key>
    <string>FreeReturnComplex</string>
    <key>zealousProtocol</key>
    <string>ThickElmKindredBrowser</string>
    <key>neatMap</key>
    <string>SongDecoratorTransformUpdate</string>
    <key>jadeThenMighty</key>
    <string>HistoryHastyPaintEnable</string>
</dict>
</plist>
