<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>nascentAppendShoreSerializer</key>
    <string>FormatVerifyUmbra</string>
    <key>loadHardy</key>
    <string>ManagerUponPrime</string>
    <key>jadeBy</key>
    <string>RingDeliverMarsh</string>
    <key>facadeVivid</key>
    <string>CheckOaken</string>
    <key>intenseSubmitDefine</key>
    <string>FixMobileVisitor</string>
    <key>saverDecent</key>
    <string>FormatterToExecuteLoad</string>
</dict>
</plist>
