<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>delegatePerform</key>
    <string>FilterWellReplaceRelease</string>
    <key>rareToolResourceReceive</key>
    <string>FormatterManagerLoadMinimal</string>
    <key>decodeDigitalCareful</key>
    <string>DominantMapGlobalMake</string>
    <key>pushProxy</key>
    <string>JadeSelectStation</string>
    <key>testSaverHandsome</key>
    <string>AbyssFetchVerifyUmbra</string>
    <key>providerCheckPlazaIntimate</key>
    <string>SliceProtocolDuringHeader</string>
    <key>extensionBehindMatrixJade</key>
    <string>WriteInDawnHandle</string>
    <key>serializerStandContinueMajor</key>
    <string>PolicySoftApplyFormat</string>
</dict>
</plist>
