<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>convertCoralAdept</key>
    <string>UpAddAttachMedia</string>
    <key>factorySphereDebug</key>
    <string>ExtractJourneyLoad</string>
    <key>wildSelectLoadBase</key>
    <string>MediatorSoftController</string>
    <key>freshPrismStackShow</key>
    <string>OnDeserializerWriteRelease</string>
    <key>belowAbstract</key>
    <string>ThreadOpenMacro</string>
    <key>providerThicket</key>
    <string>StarStripeSoftLucidMacro</string>
</dict>
</plist>
