<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>brainBy</key>
    <string>SerializerSegmentExecuteExtract</string>
    <key>abundantListValidateImport</key>
    <string>AlongRadiantRangeCancel</string>
    <key>engineTowerUniversal</key>
    <string>RemoveStandWriteFirthSecure</string>
</dict>
</plist>
