<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>updaterSetCompressCuratedDale</key>
    <string>SpokeFitOpenBehind</string>
    <key>intuitiveCoordinatorSet</key>
    <string>SyncSelectWarehouseCounter</string>
    <key>trackAssembler</key>
    <string>StateLoadDramatic</string>
    <key>runtimeSetAddHandyTop</key>
    <string>RadarHeaderWinterWarm</string>
</dict>
</plist>
