<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>inCleverPassageParser</key>
    <string>BrainResourceUmbra</string>
    <key>renderTreatProtocol</key>
    <string>RouterRemoveImplement</string>
    <key>selectPrecise</key>
    <string>TinyRealSelector</string>
    <key>throughHeight</key>
    <string>BrilliantProgramRendererSet</string>
    <key>telemetrySetJadeFirthBy</key>
    <string>ValidatorKitProfileSetSwitcher</string>
    <key>waitUmbraCore</key>
    <string>ToBonnyShadowAbyss</string>
    <key>definedFeature</key>
    <string>ValidateSubmitWorld</string>
</dict>
</plist>
