<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>targetWittyGloriousSelect</key>
    <string>SimplePetiteWithTransformable</string>
    <key>initializeSignal</key>
    <string>ExpertDelegate</string>
    <key>updateLoader</key>
    <string>ImportMonitorOutsideCheck</string>
    <key>passiveDark</key>
    <string>FixWorthyHoldCoordinator</string>
</dict>
</plist>
