<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionScopeVelocity</key>
	<string>ignoredDurationKind</string>
	<key>alignmentAndValue</key>
	<string>utilValueDensity</string>
	<key>commonCapacitiesDuration</key>
	<string>momentumStructureBottom</string>
	<key>entropyContextInset</key>
	<string>instructionAboutVisitor</string>
	<key>factoryEnvironmentInteraction</key>
	<string>constraintStructureAcceleration</string>
	<key>requiredCommandHead</key>
	<string>animatedControllerDirection</string>
	<key>slashFormPosition</key>
	<string>easyNavigatorOrigin</string>
	<key>subpixelThanFunction</key>
	<string>dialogsAtChain</string>
</dict>
</plist>
