<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bulletWithPrototype</key>
	<string>statefulNavigatorTint</string>
	<key>completerAwayFacade</key>
	<string>draggableCosineBottom</string>
	<key>cubitShapeInterval</key>
	<string>futureAndTask</string>
	<key>hardExceptionMomentum</key>
	<string>fixedHeroVisibility</string>
	<key>observerMethodInteraction</key>
	<string>stateMethodCoord</string>
	<key>positionJobFormat</key>
	<string>completerTaskSize</string>
	<key>scrollableThreadShape</key>
	<string>sliderParameterCoord</string>
</dict>
</plist>
