<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>petiteLotus</key>
    <string>ShaderSetRegistrySetMinimalMake</string>
    <key>protectDark</key>
    <string>ModestPlainFixStern</string>
    <key>featherlightProjectorSetToolPlay</key>
    <string>WiseConsolidateTowardMiddleware</string>
    <key>landSerene</key>
    <string>NotablePortraitMatrixKitHandy</string>
    <key>helperFixMiddlewareUpward</key>
    <string>AlongRockNetworkFabric</string>
    <key>slicePrivate</key>
    <string>PackHorizonThorn</string>
    <key>zephyrServiceKit</key>
    <string>VisionOrganizerSegmentSlide</string>
    <key>databaseBlitheHeader</key>
    <string>TransformableResolverSetSunnyFill</string>
</dict>
</plist>
