<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>computeSwitcher</key>
    <string>OutputCoherentVision</string>
    <key>plainOrchardParse</key>
    <string>YieldProcessorRepositorySet</string>
    <key>ultimatePreview</key>
    <string>TangibleOffModuleZippy</string>
    <key>routerSturdyUpload</key>
    <string>WhiteDefineConfigure</string>
</dict>
</plist>
