<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>stoneDataSourceLooseAuthenticate</key>
    <string>ServiceKitListenerTry</string>
    <key>serializerVisualize</key>
    <string>LoaderSwitcherHighlight</string>
    <key>generousTwistRestoreValidator</key>
    <string>ScriptMatrixKitControlGulf</string>
    <key>zippyAmong</key>
    <string>BundleSessionSetRepositorySetMatrixKit</string>
    <key>styleTextureSetFormal</key>
    <string>InsertStore</string>
    <key>lockDispatcherSetBasinUrbane</key>
    <string>StopShapeSync</string>
</dict>
</plist>
