<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>resourceServiceKitLushEncode</key>
    <string>DatabasePlannerSensorDetect</string>
    <key>coordinatorTacticNeuralMatch</key>
    <string>RouterSetRouterSetEveryday</string>
    <key>scrollPureTelemetrySet</key>
    <string>CivicByCapture</string>
    <key>cozyTrackSlipTextureSet</key>
    <string>AlongIntenseRestoreReference</string>
    <key>petitePlay</key>
    <string>EmberCommandConductorFast</string>
    <key>finishLawfulPort</key>
    <string>SacredWorkspaceSetSublimeRender</string>
    <key>sourceCoherentMeasure</key>
    <string>AmbientQuickProfileSetPack</string>
    <key>moveFeatureIndexer</key>
    <string>GroupStairThroughout</string>
    <key>insertArray</key>
    <string>TowardDebugAmong</string>
</dict>
</plist>
