<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>updaterSetTimelyStrength</key>
    <string>ConductorThreadedZephyrHybrid</string>
    <key>trustedContextHub</key>
    <string>LayoutDuring</string>
    <key>keenAfterShaderSetFallback</key>
    <string>ValidatorMuseCluster</string>
    <key>jungleUpdaterSetMigrateUrban</key>
    <string>FeatureSelect</string>
    <key>fabricLaneSkilled</key>
    <string>MatureAlongsideSolution</string>
</dict>
</plist>
