<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>referenceQualityAudioDown</key>
    <string>ProxyAcrossPool</string>
    <key>pureRemoveResponse</key>
    <string>ToolThenLogUrchin</string>
    <key>adapterTrusted</key>
    <string>BeyondLedgeReliableClear</string>
    <key>handlePast</key>
    <string>CreatorFilterTaskFilter</string>
    <key>mediatorTriggerIdealBuild</key>
    <string>AppendChiefPrimal</string>
    <key>primeStateSpring</key>
    <string>AboveCascadeObserver</string>
</dict>
</plist>
