<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>resumeObjectTerseDataSource</key>
    <string>CompositeDeserializerMutualResetSurge</string>
    <key>managerOakenCompare</key>
    <string>BehindStarSelect</string>
    <key>databasePure</key>
    <string>InstanceModelAmongReplace</string>
    <key>splitCacheJadeYielding</key>
    <string>LoadYardTriumph</string>
    <key>instanceFinish</key>
    <string>StrengthDistantInWinter</string>
    <key>compatiblePerformWise</key>
    <string>VisibleResourceMoveCreator</string>
    <key>generousBeyond</key>
    <string>FilterPlainInitial</string>
</dict>
</plist>
