<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>ledgerQuickDeserializerBuild</key>
    <string>ManagerAccurateRoundRest</string>
    <key>dropMainDuskCollection</key>
    <string>TargetStoneDefineSearchRoyal</string>
    <key>facadeLiberalVolumeCancel</key>
    <string>PoolTransformableAcceptFocus</string>
    <key>deserializerPetal</key>
    <string>CodecViewHeroicGenuine</string>
</dict>
</plist>
