<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>stateManagerOuterAccept</key>
    <string>LockRecordAboveAcrossAccelerate</string>
    <key>besideFacadePlush</key>
    <string>AttachFaithfulClass</string>
    <key>oddPaintTribe</key>
    <string>OpenLivelyActionGatewayPoplar</string>
    <key>interpreterLitheDownIslet</key>
    <string>ModelHubQueueSearch</string>
    <key>amidSecurePrismCommand</key>
    <string>AssignDirect</string>
    <key>fondOwnerHide</key>
    <string>ImageGentleModelBy</string>
    <key>privateStackReleaseWork</key>
    <string>MarshInfinitySplash</string>
    <key>instanceFineGatewayAccelerate</key>
    <string>LoaderMacroWay</string>
    <key>proxyGuideKinetic</key>
    <string>ThenSpriteStripeOff</string>
</dict>
</plist>
