<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectratioTypeForce</key>
	<string>alignmentFromJob</string>
	<key>challengeStructureHue</key>
	<string>beginnerButtonFormat</string>
	<key>inactiveActionEdge</key>
	<string>tensorStreamTint</string>
	<key>resultAroundMediator</key>
	<string>musicInsideStage</string>
	<key>subscriptionThroughStructure</key>
	<string>explicitCompleterTint</string>
	<key>symbolLevelLocation</key>
	<string>curvePrototypeBorder</string>
	<key>widgetAwayAction</key>
	<string>otherTernaryState</string>
</dict>
</plist>
