<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>preloadWarehouseSetFolder</key>
    <string>CacheShareDropOuter</string>
    <key>headerUniversalSteam</key>
    <string>RouterFragmentPristine</string>
    <key>surfaceSetPixel</key>
    <string>ReleaseStoneSelectSymbolSetDraw</string>
    <key>behindPlannerMobileQuirk</key>
    <string>LotusDeltaProtectPristine</string>
    <key>tenderWellDropTrackerSet</key>
    <string>WithinBegin</string>
    <key>coreWaryWithoutUnit</key>
    <string>DirectBeginAlcoveUpload</string>
</dict>
</plist>
