<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedEffectResponse</key>
	<string>elasticExtensionOffset</string>
	<key>criticalAnchorTension</key>
	<string>newestPopupFeedback</string>
	<key>cubitViaSystem</key>
	<string>entityAdapterSaturation</string>
	<key>discardedTransformerBound</key>
	<string>bitrateProxyCount</string>
	<key>missionOfForm</key>
	<string>rowAmongNumber</string>
	<key>optimizerLikeContext</key>
	<string>characterVariableContrast</string>
	<key>significantSkirtInterval</key>
	<string>constSinkTop</string>
	<key>spriteBeyondJob</key>
	<string>sequentialChapterRate</string>
</dict>
</plist>
