<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>finalServiceSize</key>
	<string>widgetBeyondState</string>
	<key>loopPhaseBottom</key>
	<string>providerOfValue</string>
	<key>relationalMetadataFlags</key>
	<string>mainSpriteIndex</string>
	<key>resizableLabelKind</key>
	<string>uniformMobileFrequency</string>
	<key>sliderParamVelocity</key>
	<string>durationLayerVelocity</string>
	<key>tangentFormVelocity</key>
	<string>promiseUntilCommand</string>
	<key>tweenNearShape</key>
	<string>geometricResourceSkewx</string>
</dict>
</plist>
