<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>coordinatorAboutVariable</key>
	<string>explicitMusicRotation</string>
	<key>firstFrameMargin</key>
	<string>borderVersusWork</string>
	<key>mediocreSwitchScale</key>
	<string>euclideanMovementDepth</string>
	<key>repositoryFromLevel</key>
	<string>mobileInsideMethod</string>
	<key>spotPhaseMomentum</key>
	<string>interactorUntilState</string>
</dict>
</plist>
