<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertEnvironmentDepth</key>
	<string>immediateWidgetDepth</string>
	<key>buttonStructureCoord</key>
	<string>serviceBesideParameter</string>
	<key>frameLikeDecorator</key>
	<string>grayscaleThanPrototype</string>
	<key>interactorParamSkewx</key>
	<string>transitionAroundTier</string>
	<key>layoutExceptTemple</key>
	<string>modulusDuringProcess</string>
	<key>listenerFromNumber</key>
	<string>viewAroundJob</string>
	<key>navigatorModeTint</key>
	<string>streamIncludeShape</string>
	<key>protocolAboutVariable</key>
	<string>isolatePerComposite</string>
	<key>referenceEnvironmentOrigin</key>
	<string>rapidRouteDelay</string>
	<key>richtextSinceStyle</key>
	<string>missedThreadVisible</string>
</dict>
</plist>
