<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticInVariable</key>
	<string>animationStructureCenter</string>
	<key>nodeOutsideBridge</key>
	<string>sliderStateDirection</string>
	<key>vectorTempleMode</key>
	<string>fusedHeapBrightness</string>
</dict>
</plist>
