<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>deltaDeserializer</key>
    <string>PackageSetOwnerSearch</string>
    <key>enqueueVerseMiddlewareSet</key>
    <string>AroundImplementWorkspaceSetPreload</string>
    <key>symbolSyncer</key>
    <string>ApplyDecompressHarmonyChain</string>
    <key>digitalRouterUmbraConfigure</key>
    <string>ConfigureEmberOrigin</string>
    <key>gorgeFluent</key>
    <string>ConnectRevokeBrook</string>
    <key>stencilVivid</key>
    <string>AcceptAcceptRegionEnergetic</string>
    <key>lawfulTransformObserverMuse</key>
    <string>DashboardHarmonyRotateContainer</string>
</dict>
</plist>
