<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentAlongForm</key>
	<string>grayscaleParameterState</string>
	<key>cartesianMatrixContrast</key>
	<string>framePlatformState</string>
	<key>grainContainAdapter</key>
	<string>resizableHeapBottom</string>
	<key>listenerPhaseTransparency</key>
	<string>clipperPrototypeTransparency</string>
	<key>signAsKind</key>
	<string>localizationObserverAcceleration</string>
</dict>
</plist>
