<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cursorMementoMargin</key>
	<string>queryNearActivity</string>
	<key>equalizationSinceFramework</key>
	<string>segueContainFunction</string>
	<key>navigatorDespiteFramework</key>
	<string>ternaryFunctionType</string>
	<key>publicCustompaintVisibility</key>
	<string>logAdapterDistance</string>
	<key>reducerByMode</key>
	<string>chapterViaAction</string>
	<key>robustMediaqueryFeedback</key>
	<string>textAsKind</string>
	<key>tensorModalVisible</key>
	<string>dimensionInsideMode</string>
	<key>zoneStructurePadding</key>
	<string>crudeLogMode</string>
</dict>
</plist>
