<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>descriptorFacadeLocation</key>
	<string>statePhaseAcceleration</string>
	<key>globalPopupAcceleration</key>
	<string>pinchableViewPosition</string>
	<key>normEnvironmentFormat</key>
	<string>priorRoleHead</string>
	<key>rapidSlashLocation</key>
	<string>histogramForAdapter</string>
	<key>seamlessTextSkewx</key>
	<string>localizationContainState</string>
	<key>stateCycleStatus</key>
	<string>fixedButtonSaturation</string>
	<key>tappableGroupFeedback</key>
	<string>extensionStructurePosition</string>
	<key>textfieldInsidePrototype</key>
	<string>configurationBridgeTint</string>
	<key>tweenIncludeInterpreter</key>
	<string>buttonPerCycle</string>
	<key>usageAroundInterpreter</key>
	<string>requestWithVariable</string>
</dict>
</plist>
