<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commandScopeRotation</key>
	<string>mutableExceptionAlignment</string>
	<key>concurrentTopicPressure</key>
	<string>parallelResolverScale</string>
	<key>hierarchicalGrayscaleIndex</key>
	<string>commandNumberSkewx</string>
	<key>synchronousOffsetPressure</key>
	<string>builderCycleDensity</string>
	<key>textMementoMomentum</key>
	<string>permissiveParticleState</string>
	<key>transitionLikeValue</key>
	<string>permissiveFutureDepth</string>
</dict>
</plist>
