<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>disparateInterpolationAcceleration</key>
	<string>deferredBehaviorTail</string>
	<key>firstHashContrast</key>
	<string>sophisticatedChannelsInteraction</string>
	<key>positionedObserverResponse</key>
	<string>flexibleHashRotation</string>
	<key>resolverStructureSpacing</key>
	<string>rapidBulletType</string>
	<key>resultDecoratorName</key>
	<string>webHistogramEdge</string>
	<key>significantChannelsColor</key>
	<string>matrixCompositeCoord</string>
	<key>streamAroundBridge</key>
	<string>previewInsideLevel</string>
	<key>topicLikeInterpreter</key>
	<string>mainAlignmentStatus</string>
	<key>transitionAmongPrototype</key>
	<string>animationTempleContrast</string>
</dict>
</plist>
