<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cosineNumberTheme</key>
	<string>customChartVelocity</string>
	<key>elasticServiceSkewy</key>
	<string>usedMethodState</string>
	<key>queryBeyondPattern</key>
	<string>multiActivityName</string>
	<key>sliderAsFacade</key>
	<string>delicateCubitStatus</string>
	<key>vectorThanCycle</key>
	<string>futureByStrategy</string>
	<key>workflowAsDecorator</key>
	<string>storeLikeBridge</string>
</dict>
</plist>
