<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gridviewSystemPosition</key>
	<string>intermediateAspectKind</string>
	<key>logarithmObserverBrightness</key>
	<string>ephemeralThemeOrientation</string>
	<key>metadataWithoutProxy</key>
	<string>drawerTempleOpacity</string>
	<key>queryParamBottom</key>
	<string>prevDelegateRate</string>
</dict>
</plist>
