<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>ownerWalkCarefulReturn</key>
    <string>NearEstuaryValleyHandler</string>
    <key>senseDataSourceAmong</key>
    <string>NeatPastMap</string>
    <key>knownBelowArray</key>
    <string>FindModelModulePetal</string>
    <key>tagSetHandy</key>
    <string>SyncPortTableBadge</string>
    <key>amidDecoratorFalls</key>
    <string>ModernProtocolWindow</string>
</dict>
</plist>
