<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>wingInsertFilter</key>
    <string>SendRustic</string>
    <key>jadePoolPeacefulAppend</key>
    <string>AcceptForcefulFolderHide</string>
    <key>beneathAbstractSpice</key>
    <string>AmongEqualOnSupply</string>
    <key>graphNovel</key>
    <string>TransformDeliverLuckyBegin</string>
</dict>
</plist>
