<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>naturalViewWillow</key>
    <string>LooseKnackAt</string>
    <key>displayAdapterFairyQuintessential</key>
    <string>ContainerAdapterUrbanProxy</string>
    <key>alertSplitCrystalAdapter</key>
    <string>WarmOwnerZone</string>
</dict>
</plist>
