<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>hidePassive</key>
    <string>LockIntenseConvertOutside</string>
    <key>factoryOntoGoodTool</key>
    <string>ZenithOwnerEndlessDefine</string>
    <key>pushTool</key>
    <string>ClassGloriousBaseEnum</string>
    <key>senseFilterTrustyDetect</key>
    <string>ViaPoolArrayLucky</string>
</dict>
</plist>
