<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>fineAdd</key>
    <string>DelegateValidatorFix</string>
    <key>thenAgentWithin</key>
    <string>ThoroughCleverStormYard</string>
    <key>goodExecute</key>
    <string>ConnectWith</string>
</dict>
</plist>
