<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>beforeCivic</key>
    <string>ServiceLivelyStoreStyle</string>
    <key>pristineAnalyzeSchedulerSetTracker</key>
    <string>FlagshipTelemetrySetAfter</string>
    <key>workflowSetUltimate</key>
    <string>TactfulAttachProjectorSet</string>
</dict>
</plist>
