<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>behaviorValueDuration</key>
	<string>rolePerPattern</string>
	<key>captionVarSpeed</key>
	<string>rapidStatelessLocation</string>
	<key>directIsolateShape</key>
	<string>sliderSingletonLeft</string>
	<key>factoryAwayProcess</key>
	<string>imageThroughBridge</string>
	<key>handlerInterpreterSaturation</key>
	<string>backwardMobileFeedback</string>
	<key>nextMetadataTension</key>
	<string>asyncSinceValue</string>
	<key>queueBesideParam</key>
	<string>commonCycleCoord</string>
	<key>scrollProcessLocation</key>
	<string>graphInsideState</string>
</dict>
</plist>
