<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonWithoutPlatform</key>
	<string>labelActivityType</string>
	<key>diffableCubitLeft</key>
	<string>reactiveObserverLeft</string>
	<key>layerShapeFeedback</key>
	<string>heapLikeStyle</string>
	<key>referenceObserverPressure</key>
	<string>invisibleTransitionTint</string>
	<key>sliderFormSpacing</key>
	<string>directlyVectorKind</string>
	<key>statelessMapTop</key>
	<string>contractionProcessOpacity</string>
	<key>tabviewContainFunction</key>
	<string>multiCoordinatorDepth</string>
</dict>
</plist>
