<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>configurationOutsideJob</key>
	<string>sophisticatedTransitionBrightness</string>
	<key>consumerBesideForm</key>
	<string>delegateInterpreterAppearance</string>
	<key>contractionOfObserver</key>
	<string>temporarySinkLocation</string>
	<key>reducerTaskBrightness</key>
	<string>advancedCoordinatorOffset</string>
	<key>synchronousRichtextSaturation</key>
	<string>primaryGridviewTheme</string>
</dict>
</plist>
