<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertSinceScope</key>
	<string>oldProfileHead</string>
	<key>configurationUntilSingleton</key>
	<string>batchBridgeSpacing</string>
	<key>constraintAgainstActivity</key>
	<string>timerWithMediator</string>
	<key>descriptionNearProcess</key>
	<string>customAxisLeft</string>
	<key>instructionFromProxy</key>
	<string>easyAsyncFeedback</string>
	<key>priorityMethodMode</key>
	<string>loopUntilBridge</string>
</dict>
</plist>
