<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activityActionDistance</key>
	<string>flexibleTitleTag</string>
	<key>commandStructureAlignment</key>
	<string>sizeContextInterval</string>
	<key>criticalCommandValidation</key>
	<string>groupProcessMode</string>
	<key>crucialEffectTheme</key>
	<string>vectorDespiteParam</string>
	<key>intensityFlyweightAppearance</key>
	<string>basicDescriptionTag</string>
	<key>metadataOutsideStage</key>
	<string>assetInsideInterpreter</string>
	<key>overlayThanContext</key>
	<string>documentInVariable</string>
	<key>transformerFlyweightState</key>
	<string>gradientTaskHead</string>
</dict>
</plist>
