<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bulletAlongLayer</key>
	<string>opaqueEffectCount</string>
	<key>diversifiedNodeInteraction</key>
	<string>otherHashBottom</string>
	<key>enabledControllerRotation</key>
	<string>errorDuringVariable</string>
	<key>independentInjectionPressure</key>
	<string>screenFacadeFeedback</string>
	<key>momentumVersusOperation</key>
	<string>hyperbolicRichtextFlags</string>
	<key>progressbarWithShape</key>
	<string>crudeDurationVelocity</string>
	<key>sampleValueType</key>
	<string>routerOrPhase</string>
	<key>taskKindDirection</key>
	<string>presenterStyleInterval</string>
	<key>threadFacadeKind</key>
	<string>axisAgainstSystem</string>
</dict>
</plist>
