<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionKindOrigin</key>
	<string>dynamicButtonRight</string>
	<key>binaryActionCenter</key>
	<string>buttonPhaseDensity</string>
	<key>cellDecoratorInteraction</key>
	<string>globalSessionVelocity</string>
	<key>nodeThanPrototype</key>
	<string>pivotalBatchScale</string>
	<key>providerVisitorOpacity</key>
	<string>monsterKindType</string>
	<key>riverpodParameterAlignment</key>
	<string>workflowSincePhase</string>
	<key>spriteFacadeDuration</key>
	<string>grainTempleTop</string>
	<key>topicDespiteFacade</key>
	<string>reusableGrayscaleBehavior</string>
</dict>
</plist>
