<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousTabviewDistance</key>
	<string>subscriptionAwayStage</string>
	<key>builderContainStyle</key>
	<string>robustTickerColor</string>
	<key>exponentFromMode</key>
	<string>bitrateTempleTop</string>
	<key>mapLikeActivity</key>
	<string>progressbarVersusPhase</string>
	<key>offsetInStructure</key>
	<string>interpolationValueCenter</string>
	<key>precisionTypeOrientation</key>
	<string>arithmeticDuringForm</string>
	<key>projectBesideTier</key>
	<string>giftWithoutVar</string>
	<key>subsequentAspectVisibility</key>
	<string>optimizerBridgeAcceleration</string>
	<key>utilAroundMethod</key>
	<string>sceneCycleStyle</string>
</dict>
</plist>
