<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>descriptionViaAction</key>
	<string>aspectAgainstTier</string>
	<key>previewWithProcess</key>
	<string>compositionalAssetAlignment</string>
	<key>queueVersusBuffer</key>
	<string>methodAboutChain</string>
	<key>smallChapterFormat</key>
	<string>precisionModeShade</string>
	<key>storeAroundParam</key>
	<string>globalAnimatedcontainerInset</string>
</dict>
</plist>
