<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>certificateForEnvironment</key>
	<string>lastAwaitOrigin</string>
	<key>dropdownbuttonPatternMargin</key>
	<string>expandedParamTail</string>
	<key>featureAndFlyweight</key>
	<string>routerParameterInterval</string>
	<key>featureVariableTransparency</key>
	<string>imperativeCaptionRate</string>
	<key>previewSingletonRight</key>
	<string>interactiveMethodInterval</string>
	<key>projectionValueSize</key>
	<string>mediaqueryScopeRotation</string>
	<key>promiseTaskVisible</key>
	<string>retainedVectorFeedback</string>
	<key>skinAndValue</key>
	<string>rowWorkSize</string>
</dict>
</plist>
