<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphaActivityScale</key>
	<string>resizablePopupAlignment</string>
	<key>constPointRate</key>
	<string>imperativeAnimationDirection</string>
	<key>containerFormTint</key>
	<string>themeCycleTint</string>
	<key>particleStrategySkewx</key>
	<string>viewAlongBridge</string>
</dict>
</plist>
