<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>friendlySelectorSet</key>
    <string>PreviewComputeSerializerSchedulerSet</string>
    <key>finishArrayUniversal</key>
    <string>TransformableJasperBoundSunny</string>
    <key>tagHeaderDominant</key>
    <string>ListReflectHavenNavigateDelta</string>
</dict>
</plist>
