<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>readCounterSwitcher</key>
    <string>SerializerConductorShadeShape</string>
    <key>organizerContinueStreamSet</key>
    <string>AfterTimelessCompatibleSort</string>
    <key>restCaptureDataSourceRoyal</key>
    <string>SendLargeMigrateAppend</string>
    <key>optimizeNative</key>
    <string>SpeckledPaintMultiplyAmidParse</string>
    <key>petalSelectorSet</key>
    <string>CanvasKitMarkCompareEnqueue</string>
    <key>runtimeSetPoplar</key>
    <string>OffAlongThenSpontaneous</string>
    <key>harmlessTargetBeside</key>
    <string>WithoutRecordBonny</string>
</dict>
</plist>
