<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>projectorUpSturdyWorkbenchSet</key>
    <string>GoodTallOrchard</string>
    <key>plannerMain</key>
    <string>ApplyHorizonDirectoryOrbitOver</string>
    <key>stopTrim</key>
    <string>ProviderSetBulkySilverCloseBroker</string>
    <key>programMeasured</key>
    <string>ShareFinishCollectorSetBoard</string>
    <key>switcherPristineAudio</key>
    <string>FairZonalPortrait</string>
    <key>supremeRemoteValidatorKitBefore</key>
    <string>BasinAccess</string>
    <key>projectorSetDispatchLively</key>
    <string>ChainTextureSetStage</string>
    <key>heroicSaverElemental</key>
    <string>FlagshipInteractorOnPreload</string>
</dict>
</plist>
