<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertNumberCount</key>
	<string>lostRemainderForce</string>
	<key>awaitInterpreterAppearance</key>
	<string>boxshadowFlyweightVelocity</string>
	<key>behaviorByDecorator</key>
	<string>buttonContainParam</string>
	<key>challengeDuringSingleton</key>
	<string>dropdownbuttonContextAppearance</string>
	<key>checklistProxyDensity</key>
	<string>labelStrategyPressure</string>
	<key>disabledTextPressure</key>
	<string>beginnerRichtextBottom</string>
	<key>equalizationInNumber</key>
	<string>baselineInterpreterStyle</string>
	<key>gesturedetectorOrComposite</key>
	<string>activityForState</string>
	<key>routerForValue</key>
	<string>robustPositionedAppearance</string>
	<key>unactivatedAssetTransparency</key>
	<string>asyncDurationTag</string>
</dict>
</plist>
