<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>healthyGorgeDebug</key>
    <string>PrintProjectorRepositorySetStructure</string>
    <key>mapperSetHinted</key>
    <string>TransformMultiplyStartWise</string>
    <key>nativeOnUpdaterSetPanel</key>
    <string>MemoryConnectorNormalize</string>
    <key>interactorAcceleratePrecise</key>
    <string>PolicySetHeightForceCounter</string>
</dict>
</plist>
