<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>composableCupertinoVelocity</key>
	<string>singleSessionSize</string>
	<key>customChallengeSpacing</key>
	<string>reusableRowAcceleration</string>
	<key>elasticSwitchShape</key>
	<string>columnInCommand</string>
	<key>injectionStateCenter</key>
	<string>errorOrFlyweight</string>
	<key>interpolationInTemple</key>
	<string>alertOrVisitor</string>
	<key>missionIncludeShape</key>
	<string>convolutionStructureMargin</string>
	<key>normalRowOffset</key>
	<string>marginOfTemple</string>
	<key>stampExceptScope</key>
	<string>rowStateRotation</string>
</dict>
</plist>
