<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>descriptorValueAcceleration</key>
	<string>projectValueRight</string>
	<key>dialogsJobValidation</key>
	<string>tweenLevelBehavior</string>
	<key>entityExceptLevel</key>
	<string>nodeMementoTag</string>
	<key>localizationDespiteTier</key>
	<string>overlayAsJob</string>
	<key>threadEnvironmentInterval</key>
	<string>intuitiveCaptionSpeed</string>
</dict>
</plist>
