<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>latticeValidate</key>
    <string>ImportFixBrain</string>
    <key>pinePlayCatalogerGrowing</key>
    <string>CandidArrayTransformerSetRouter</string>
    <key>authorizeCreator</key>
    <string>OceanInsertExpandThrottle</string>
</dict>
</plist>
