<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>templateSetHostInside</key>
    <string>PackWorkspaceSetSnappy</string>
    <key>inletProudExtract</key>
    <string>FlowRevokeHubsetProjector</string>
    <key>mediatorAttachSpontaneousImplement</key>
    <string>MultiplyPlayExpandVia</string>
    <key>humorSnappy</key>
    <string>InsideDriveGroup</string>
    <key>serializerCozyFromNetwork</key>
    <string>ControllerSampleRefined</string>
    <key>providerEnum</key>
    <string>BeginDiscreteLuminous</string>
</dict>
</plist>
