<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>formatterTestProjectorSet</key>
    <string>ViewportSetPaintAlongsideJungleCrestline</string>
    <key>notablePackageSet</key>
    <string>PresenterMakeVectorSet</string>
    <key>friendlyAlongComposer</key>
    <string>AlertPlannerOptimize</string>
    <key>extractSurfaceSetWirelessTrigger</key>
    <string>InitializeModernBeyondPack</string>
    <key>shaderSetRetreatIvorySchedule</key>
    <string>AirflowRetreatRate</string>
</dict>
</plist>
