<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>quietFabricTry</key>
    <string>RealmHandyDrop</string>
    <key>revokeFeasibleTransformerSet</key>
    <string>StrongUploadDrawTulip</string>
    <key>flatSubtleDerive</key>
    <string>OntoAboveConvertAccept</string>
    <key>presenterUprightSupplyAuthenticate</key>
    <string>DenseWorkbenchSetZonalInto</string>
    <key>preloadWorkspaceSet</key>
    <string>SortExpertSigner</string>
</dict>
</plist>
