<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>standAttachProtocolGenerous</key>
    <string>RidgeAgentAddTune</string>
    <key>transformableSubmit</key>
    <string>DetectTeamDeviceDelegate</string>
    <key>smartCloudDelegateIn</key>
    <string>RunAudioConnectMethod</string>
    <key>updateOverBase</key>
    <string>CommandJustTransformablePause</string>
    <key>rationalOwner</key>
    <string>SplitModelStrategyMeadow</string>
    <key>formalSecureControllerHide</key>
    <string>DurableFaintReturn</string>
</dict>
</plist>
