<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>signalEndHeaderTerse</key>
    <string>PackInterpreter</string>
    <key>dataSourceDecode</key>
    <string>NovelExtractPoolLedge</string>
    <key>validatorSnowAmple</key>
    <string>ExtensionRegisterAlongRegister</string>
    <key>timelyPage</key>
    <string>DeserializerFastTool</string>
    <key>registerFluke</key>
    <string>CompareSortSubtleOwl</string>
    <key>carefulDefineBuild</key>
    <string>RegistryImportWait</string>
    <key>creatorWayBetweenThick</key>
    <string>ReferenceThreadDefined</string>
</dict>
</plist>
