<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>blitheVocalCompatible</key>
    <string>BambooEqualShareHandle</string>
    <key>proxyPositionAtLucky</key>
    <string>WriteIntuitiveTrackController</string>
    <key>friendlyControllerAssignHarmony</key>
    <string>QuietSurfIntimate</string>
    <key>enumText</key>
    <string>PromptBrilliantTransform</string>
    <key>contextGroupVigorous</key>
    <string>UltimateMoveVividInto</string>
    <key>creatorJade</key>
    <string>DataSourceProviderGroveAgainstFacade</string>
</dict>
</plist>
