<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>domeWealthyFactory</key>
    <string>MarkFreePoolMarsh</string>
    <key>behindIvoryDispatcherLight</key>
    <string>HistoryHolyHarmony</string>
    <key>pathFast</key>
    <string>PushShowWildEdge</string>
</dict>
</plist>
