<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>helperInDawnFree</key>
    <string>WorkReplacePaintThrough</string>
    <key>builderImprovedMakeDynamic</key>
    <string>RequestClientManage</string>
    <key>primeModifyHelper</key>
    <string>ImplementGroupValidatorOn</string>
</dict>
</plist>
