<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>stencilSetDecompress</key>
    <string>HarborDefinite</string>
    <key>mountainConsistent</key>
    <string>MatrixMethodSet</string>
    <key>exoticSpectrumSet</key>
    <string>RetreatShadowDepot</string>
    <key>lucidGuidebookClose</key>
    <string>ProgramIndexAudioDenseClose</string>
    <key>collectorSetRefreshRobustLocator</key>
    <string>TulipReplaceIdleIncremental</string>
    <key>cleverCoordinate</key>
    <string>ControllerSpriteLaneUpgradeStencilSet</string>
</dict>
</plist>
