<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>basicRunCoordinatorSetPrairie</key>
    <string>PlayRendererSetConverterConvert</string>
    <key>pipelineSetInsidePolicyPleased</key>
    <string>StoreHaven</string>
    <key>upPresenter</key>
    <string>CrownIdleModuleSet</string>
</dict>
</plist>
