<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>terseLocalizeIndexerStep</key>
    <string>AdapterSetRationalBuilder</string>
    <key>decompressUnitTestHealthyDecorator</key>
    <string>TimelineSetRouterFocus</string>
    <key>backupSerializerSet</key>
    <string>FindSpiritedTorch</string>
    <key>luckyThenAgainst</key>
    <string>RegistrySetPortalQuillPipelineSet</string>
    <key>consolidateSpringSmooth</key>
    <string>CleanMonitorSetTransformer</string>
    <key>readPrism</key>
    <string>WaitSpontaneousPaintShader</string>
    <key>warehouseSetMeasureEndlessController</key>
    <string>SpiritRavenMistWalk</string>
</dict>
</plist>
