<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionRouteRight</key>
	<string>smartProviderFrequency</string>
	<key>agileTitleInteraction</key>
	<string>publicRouteInset</string>
	<key>basicStateInset</key>
	<string>labelAroundMethod</string>
	<key>cupertinoStructureHead</key>
	<string>firstInjectionMomentum</string>
	<key>inheritedReductionSpeed</key>
	<string>navigatorStructureInteraction</string>
	<key>localShaderDuration</key>
	<string>secondSwitchBehavior</string>
	<key>missedPlateAlignment</key>
	<string>resultCommandPadding</string>
	<key>queueDuringState</key>
	<string>granularAnchorLeft</string>
	<key>sophisticatedEventMargin</key>
	<string>topicObserverVelocity</string>
</dict>
</plist>
