<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>deserializerSpontaneous</key>
    <string>SurgeProfileDropHideImport</string>
    <key>toneTextureSet</key>
    <string>HideExtraIslet</string>
    <key>streamSetProjectorSetIntactTrack</key>
    <string>HelperDecompressPack</string>
    <key>catalogerNovelRefreshWillow</key>
    <string>CancelSchedulerSetFloraStay</string>
    <key>viewportSetHonestFocalBehind</key>
    <string>TimelineSetThreatLegacyEveryday</string>
</dict>
</plist>
