<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>wildCompare</key>
    <string>TableVectorJasperMarsh</string>
    <key>elasticObserver</key>
    <string>CozySkilledRefined</string>
    <key>afterComposerUtmost</key>
    <string>CalibrateCollectionCreateHold</string>
    <key>snapshotPipelineSetEncryptMeasured</key>
    <string>SimpleSplitAlongCapture</string>
</dict>
</plist>
