<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>builderAcross</key>
    <string>VirtuousLuckyTrackerSet</string>
    <key>sunDefinedStencilSet</key>
    <string>YardSweetRow</string>
    <key>upwardStencilSetHoldThread</key>
    <string>FrugalMigrateReservoir</string>
    <key>oasisMap</key>
    <string>RiverVastOn</string>
</dict>
</plist>
