<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>curveActionDistance</key>
	<string>channelActivityResponse</string>
	<key>marginMementoSpacing</key>
	<string>progressbarTypeFormat</string>
	<key>temporaryPresenterResponse</key>
	<string>subtleSubscriptionInterval</string>
	<key>webSliderResponse</key>
	<string>intensityChainName</string>
	<key>widgetOutsideComposite</key>
	<string>projectFromSystem</string>
</dict>
</plist>
