<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionViaActivity</key>
	<string>graphModeOffset</string>
	<key>concreteSegmentPosition</key>
	<string>advancedMenuValidation</string>
	<key>greatReductionBorder</key>
	<string>alignmentInterpreterSaturation</string>
	<key>groupBesideTemple</key>
	<string>statePerOperation</string>
	<key>labelIncludeFacade</key>
	<string>tickerParameterDensity</string>
	<key>scaffoldOutsideMode</key>
	<string>oldUtilBound</string>
	<key>spriteFacadeHue</key>
	<string>decorationPerEnvironment</string>
</dict>
</plist>
