<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationInsideTier</key>
	<string>completionWorkTint</string>
	<key>cubitPhaseTop</key>
	<string>numericalBulletBrightness</string>
	<key>modulusInJob</key>
	<string>iconInsideForm</string>
	<key>observerOfEnvironment</key>
	<string>coordinatorWithTask</string>
	<key>progressbarByStrategy</key>
	<string>concurrentFutureBrightness</string>
	<key>rectShapeCount</key>
	<string>invisibleMediaTint</string>
	<key>resultStrategyTension</key>
	<string>responsiveTimerInterval</string>
	<key>sharedConstraintBrightness</key>
	<string>presenterWorkContrast</string>
	<key>spriteAlongParameter</key>
	<string>contractionFacadeTail</string>
</dict>
</plist>
