<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>liberalHardyThenMultiply</key>
    <string>TargetWinterElegantHeavenStop</string>
    <key>radiantRapidsProxyRun</key>
    <string>KnollSaverAbundantIdle</string>
    <key>humbleClear</key>
    <string>DrawNearAnalyze</string>
</dict>
</plist>
