<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationSinceComposite</key>
	<string>sceneProcessPosition</string>
	<key>cardByWork</key>
	<string>subscriptionAmongLayer</string>
	<key>dependencyMethodContrast</key>
	<string>nibWithEnvironment</string>
	<key>explicitMobileResponse</key>
	<string>stateOperationBottom</string>
	<key>sequentialHandlerTint</key>
	<string>convolutionAndPattern</string>
	<key>unaryKindBound</key>
	<string>musicUntilChain</string>
	<key>workflowPhaseContrast</key>
	<string>declarativeContainerTail</string>
</dict>
</plist>
