<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderOutsideState</key>
	<string>aspectratioShapeOrigin</string>
	<key>instructionAboutAction</key>
	<string>contractionMementoRate</string>
	<key>sharedSinkType</key>
	<string>rectMementoMargin</string>
	<key>tableFormHead</key>
	<string>similarStoreForce</string>
</dict>
</plist>
