<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocAwayVisitor</key>
	<string>inactiveMenuFeedback</string>
	<key>modelContainTask</key>
	<string>aspectratioProcessMomentum</string>
	<key>observerOutsideLayer</key>
	<string>requestAsFacade</string>
</dict>
</plist>
