<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>columnTaskName</key>
	<string>serviceVariableDirection</string>
	<key>curveTypeRight</key>
	<string>logarithmThanLayer</string>
	<key>keyTaskAlignment</key>
	<string>streamWorkForce</string>
	<key>offsetFormSkewx</key>
	<string>slashContainProxy</string>
	<key>painterFromCycle</key>
	<string>convolutionAlongSystem</string>
	<key>semanticRequestRight</key>
	<string>displayableNodeSkewx</string>
	<key>significantSpriteCount</key>
	<string>sortedStoreTop</string>
</dict>
</plist>
