<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>borderOrLayer</key>
	<string>animationFlyweightFrequency</string>
	<key>cartesianAspectAcceleration</key>
	<string>protectedMatrixSaturation</string>
	<key>hardDelegateInset</key>
	<string>interfaceMediatorShade</string>
	<key>layoutLevelPressure</key>
	<string>opaqueViewForce</string>
	<key>nativeCellStatus</key>
	<string>frameWithBridge</string>
	<key>navigatorProcessInteraction</key>
	<string>resolverSingletonDepth</string>
	<key>projectionAtContext</key>
	<string>repositoryDecoratorValidation</string>
	<key>resultValueCoord</key>
	<string>observerDuringForm</string>
	<key>scrollByKind</key>
	<string>streamCycleRate</string>
	<key>singletonParamInterval</key>
	<string>storageAlongLevel</string>
</dict>
</plist>
