<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>directlyRectSpeed</key>
	<string>asynchronousPositionTail</string>
	<key>firstResponseSkewx</key>
	<string>symmetricSkinDirection</string>
	<key>histogramStructureOrigin</key>
	<string>rowNumberIndex</string>
	<key>secondGradientCenter</key>
	<string>priorCheckboxSpeed</string>
</dict>
</plist>
