<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>behaviorThroughStructure</key>
	<string>actionLayerSkewy</string>
	<key>constTweenDirection</key>
	<string>routeOperationInteraction</string>
	<key>contractionAgainstStyle</key>
	<string>diversifiedTabbarAlignment</string>
	<key>draggableCapsuleAppearance</key>
	<string>axisOrContext</string>
	<key>mediumAlignmentRight</key>
	<string>buttonBufferKind</string>
	<key>popupScopeSpacing</key>
	<string>disabledSinkTheme</string>
	<key>staticGraphAppearance</key>
	<string>bulletDecoratorOrigin</string>
</dict>
</plist>
