<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferUntilStructure</key>
	<string>richtextBeyondDecorator</string>
	<key>concreteNodeSize</key>
	<string>usageByKind</string>
	<key>effectDuringOperation</key>
	<string>resultExceptMethod</string>
	<key>fragmentUntilObserver</key>
	<string>draggableBaselineOrigin</string>
	<key>inheritedMovementPosition</key>
	<string>allocatorSystemCount</string>
	<key>largeProtocolDelay</key>
	<string>effectChainFrequency</string>
	<key>sequentialViewTail</key>
	<string>allocatorKindTop</string>
	<key>subsequentCompositionInset</key>
	<string>radioStrategyTransparency</string>
	<key>unsortedLabelTransparency</key>
	<string>nibForBridge</string>
</dict>
</plist>
