<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commandJobColor</key>
	<string>uniqueAppbarType</string>
	<key>effectFrameworkDistance</key>
	<string>spineAboutTask</string>
	<key>effectShapeMode</key>
	<string>modulusViaActivity</string>
	<key>sensorFormDirection</key>
	<string>nativeBehaviorCount</string>
</dict>
</plist>
