<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedMapDensity</key>
	<string>statelessAnimationBound</string>
	<key>dimensionUntilTier</key>
	<string>featurePrototypePressure</string>
	<key>granularStepLocation</key>
	<string>listviewUntilForm</string>
	<key>notificationStageLocation</key>
	<string>providerBeyondComposite</string>
	<key>permanentEffectRight</key>
	<string>easyCurveSkewx</string>
	<key>resizableZoneLocation</key>
	<string>imperativeExpandedRight</string>
	<key>resolverProxyBehavior</key>
	<string>specifierBesidePlatform</string>
	<key>sceneOperationSaturation</key>
	<string>listenerThanFramework</string>
	<key>spriteStyleBehavior</key>
	<string>hierarchicalStoryboardDistance</string>
	<key>storeWithoutInterpreter</key>
	<string>dedicatedPopupVelocity</string>
</dict>
</plist>
