<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryPerNumber</key>
	<string>topicMethodDelay</string>
	<key>descriptionBeyondEnvironment</key>
	<string>constraintFacadeTail</string>
	<key>dimensionThanProxy</key>
	<string>vectorOperationBottom</string>
	<key>fixedCharacterIndex</key>
	<string>permissiveReductionInset</string>
	<key>invisiblePointBorder</key>
	<string>positionAndValue</string>
	<key>mobileCheckboxTransparency</key>
	<string>plateTypeCoord</string>
	<key>mobileResultScale</key>
	<string>dimensionAlongLevel</string>
	<key>modelFunctionPressure</key>
	<string>uniformLogarithmStatus</string>
	<key>taskVarFrequency</key>
	<string>uniqueStampForce</string>
	<key>viewWorkFeedback</key>
	<string>captionStylePadding</string>
</dict>
</plist>
