<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cardNearNumber</key>
	<string>taskDuringBuffer</string>
	<key>configurationFlyweightPressure</key>
	<string>indicatorActionPressure</string>
	<key>gemContextEdge</key>
	<string>uniformPriorityVelocity</string>
	<key>navigatorCycleDistance</key>
	<string>crudeExtensionFormat</string>
	<key>presenterSinceLevel</key>
	<string>secondButtonOffset</string>
	<key>radioPrototypeAlignment</key>
	<string>asyncLabelSkewx</string>
	<key>respectiveContractionCoord</key>
	<string>resourceExceptStyle</string>
</dict>
</plist>
