<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardStreamRotation</key>
	<string>protocolAroundStage</string>
	<key>contractionContextShade</key>
	<string>controllerAtStrategy</string>
	<key>exponentSystemLocation</key>
	<string>cartesianSinkType</string>
	<key>priorityVarResponse</key>
	<string>originalPetColor</string>
	<key>smallLoopInterval</key>
	<string>normalSinkPadding</string>
	<key>stepInsideProcess</key>
	<string>chartWorkKind</string>
</dict>
</plist>
