<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>callbackStyleTag</key>
	<string>activatedChapterInteraction</string>
	<key>gemEnvironmentMode</key>
	<string>loopVariableStatus</string>
	<key>interpolationThanPhase</key>
	<string>semanticReductionSize</string>
	<key>managerOutsideEnvironment</key>
	<string>beginnerStoreInterval</string>
	<key>spriteInTask</key>
	<string>customSubpixelPosition</string>
	<key>statefulGrayscaleInterval</key>
	<string>publicAlertFlags</string>
	<key>viewAtStage</key>
	<string>durationPatternRate</string>
</dict>
</plist>
