<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gestureWithFacade</key>
	<string>persistentMissionTheme</string>
	<key>mutableOptimizerCount</key>
	<string>ephemeralResourceVisibility</string>
	<key>operationActionOrigin</key>
	<string>pinchableProgressbarVelocity</string>
	<key>pointByLayer</key>
	<string>animationSystemFlags</string>
	<key>reusableSliderRight</key>
	<string>visibleAllocatorKind</string>
	<key>storyboardFromMethod</key>
	<string>matrixAtComposite</string>
	<key>subtleThreadVelocity</key>
	<string>sinkTaskForce</string>
	<key>sustainableDecorationBehavior</key>
	<string>discardedContainerPressure</string>
	<key>tabviewMethodSaturation</key>
	<string>missionCycleFlags</string>
	<key>viewNearKind</key>
	<string>previewInContext</string>
</dict>
</plist>
