<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubeLevelMode</key>
	<string>missionThanEnvironment</string>
	<key>curveLayerSpeed</key>
	<string>resizableInterfaceShape</string>
	<key>elasticSymbolFrequency</key>
	<string>dialogsChainIndex</string>
	<key>localizationStyleMomentum</key>
	<string>cardShapeTag</string>
	<key>routeProxyVisibility</key>
	<string>storeVarOrientation</string>
	<key>semanticsCycleHead</key>
	<string>deferredViewSize</string>
	<key>skinLayerFormat</key>
	<string>scrollableSemanticsDistance</string>
</dict>
</plist>
