<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>brushAtFunction</key>
	<string>greatAlertCoord</string>
	<key>responsiveDelegateMode</key>
	<string>uniformMenuShade</string>
	<key>switchMethodOrigin</key>
	<string>finalNotifierFormat</string>
</dict>
</plist>
