<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicGraphVelocity</key>
	<string>cupertinoCapsuleInset</string>
	<key>cubitCommandOffset</key>
	<string>entityCommandCoord</string>
	<key>gateAdapterPadding</key>
	<string>axisContainActivity</string>
	<key>persistentTableDelay</key>
	<string>precisionJobTension</string>
	<key>requestDespiteStructure</key>
	<string>tappableRemainderSkewx</string>
	<key>singleResourceDistance</key>
	<string>mutableProfileSpacing</string>
	<key>standaloneFlexValidation</key>
	<string>discardedSpineTension</string>
	<key>temporaryCubeRight</key>
	<string>descriptionObserverDirection</string>
	<key>timerLevelVisibility</key>
	<string>effectLikeValue</string>
</dict>
</plist>
