<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>criticalAsyncVisibility</key>
	<string>descriptionStateFeedback</string>
	<key>managerMediatorDirection</key>
	<string>mediocreCacheForce</string>
	<key>symmetricCycleBrightness</key>
	<string>navigatorInLayer</string>
	<key>tickerThroughTier</key>
	<string>seamlessReducerMargin</string>
	<key>tweenMementoVelocity</key>
	<string>layerNumberDensity</string>
</dict>
</plist>
