<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dropdownbuttonPerComposite</key>
	<string>invisibleMediaFeedback</string>
	<key>firstMetadataFlags</key>
	<string>routerAgainstProxy</string>
	<key>globalCacheIndex</key>
	<string>smartRouterInset</string>
	<key>interfacePhaseOffset</key>
	<string>particleShapeColor</string>
	<key>iterativeTopicValidation</key>
	<string>baseAsWork</string>
	<key>pinchableBlocMomentum</key>
	<string>taskBridgeDensity</string>
	<key>queryMediatorLeft</key>
	<string>nodePrototypeName</string>
	<key>queuePhaseOrientation</key>
	<string>ignoredRouterFlags</string>
	<key>sinkAgainstEnvironment</key>
	<string>eagerInstructionEdge</string>
	<key>substantialFeatureMomentum</key>
	<string>sizeVarShape</string>
</dict>
</plist>
