<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticLevelDirection</key>
	<string>chartJobAppearance</string>
	<key>arithmeticScalePressure</key>
	<string>nativeTaskRotation</string>
	<key>contractionExceptMemento</key>
	<string>agileSlashState</string>
	<key>cubitLevelType</key>
	<string>injectionValueBrightness</string>
	<key>curveAndParameter</key>
	<string>delicateStreamOffset</string>
	<key>mobileStateOrigin</key>
	<string>substantialConstraintShade</string>
	<key>richtextLikeForm</key>
	<string>petAmongTask</string>
	<key>titleStrategyName</key>
	<string>precisionBesideStyle</string>
</dict>
</plist>
