<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationOutsideComposite</key>
	<string>entropyTierIndex</string>
	<key>buttonInsideVar</key>
	<string>buttonVisitorName</string>
	<key>gateFlyweightValidation</key>
	<string>intensityChainBehavior</string>
</dict>
</plist>
