<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetVarFrequency</key>
	<string>multiProviderMomentum</string>
	<key>numericalMobileSpacing</key>
	<string>mediaqueryAboutLayer</string>
	<key>providerPlatformBrightness</key>
	<string>decorationFlyweightStyle</string>
	<key>radiusAtFacade</key>
	<string>blocNearParam</string>
	<key>stepAndMediator</key>
	<string>opaqueCustompaintCenter</string>
</dict>
</plist>
