<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>amongFacadeGroup</key>
    <string>TransformCleanWithin</string>
    <key>refinedDecodeInstance</key>
    <string>TableWildClearInitialize</string>
    <key>graveIntense</key>
    <string>WordAppendPrompt</string>
    <key>wildValidateContainerKnack</key>
    <string>DataSourceMoveOffset</string>
    <key>debugUnique</key>
    <string>TypeHelixTrainSurfOpen</string>
    <key>commandBasic</key>
    <string>VesselValidatorDigital</string>
    <key>landCompare</key>
    <string>MacroIndexViewExtension</string>
</dict>
</plist>
