<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>spotGroupAnalyzeBare</key>
    <string>TryConvertSerializerProxy</string>
    <key>towardFast</key>
    <string>TypeRemoteViableInsight</string>
    <key>moduleGetAbyssIdle</key>
    <string>AccelerateDecoratorPageDale</string>
</dict>
</plist>
