<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>immenseGenuine</key>
    <string>ReadyInitializeStep</string>
    <key>splitDecoratorCalmUnusual</key>
    <string>OffMelodyUnderSubmit</string>
    <key>brilliantTulipLog</key>
    <string>CascadeLockModestInitialize</string>
    <key>addGloriousFormal</key>
    <string>ShowOutside</string>
</dict>
</plist>
