<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetBridgeType</key>
	<string>visibleFrameCount</string>
	<key>baselineExceptMode</key>
	<string>constAnchorDelay</string>
	<key>currentStoryboardOpacity</key>
	<string>drawerValueBorder</string>
	<key>customInteractorBottom</key>
	<string>enabledSensorDelay</string>
	<key>subscriptionTierDistance</key>
	<string>decorationWithOperation</string>
</dict>
</plist>
