<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonBeyondScope</key>
	<string>tabbarAndState</string>
	<key>callbackVisitorValidation</key>
	<string>bitrateParameterTop</string>
	<key>curveBesideWork</key>
	<string>durationByWork</string>
	<key>euclideanCursorBehavior</key>
	<string>scrollableStoreMode</string>
	<key>gesturedetectorWithoutPattern</key>
	<string>bitrateDespiteProcess</string>
	<key>labelPhaseDuration</key>
	<string>criticalAnimationDistance</string>
	<key>mainPositionType</key>
	<string>taskSinceFlyweight</string>
	<key>statefulMethodContrast</key>
	<string>independentListenerOpacity</string>
</dict>
</plist>
