<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>criticalRiverpodAppearance</key>
	<string>sessionScopeTail</string>
	<key>directTextureRight</key>
	<string>precisionFormFeedback</string>
	<key>grayscaleTaskVisibility</key>
	<string>consumerAndStrategy</string>
	<key>mutablePositionSkewy</key>
	<string>activeCoordinatorEdge</string>
	<key>sliderCycleTheme</key>
	<string>retainedOffsetCoord</string>
	<key>uniqueDropdownbuttonValidation</key>
	<string>gridDuringSystem</string>
</dict>
</plist>
