<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeCallbackDirection</key>
	<string>mainViewDensity</string>
	<key>customizedTouchBrightness</key>
	<string>cupertinoExponentRight</string>
	<key>hyperbolicHandlerTop</key>
	<string>profileStructureAppearance</string>
	<key>optimizerVersusActivity</key>
	<string>projectionSincePlatform</string>
	<key>particleJobFrequency</key>
	<string>layoutAwayEnvironment</string>
	<key>playbackAgainstProxy</key>
	<string>reusableMasterPressure</string>
	<key>statelessOutsideType</key>
	<string>configurationFormStatus</string>
	<key>symbolAtProcess</key>
	<string>immutableBrushName</string>
</dict>
</plist>
