<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cachePlatformRate</key>
	<string>gridAndBridge</string>
	<key>containerActionIndex</key>
	<string>toolAlongScope</string>
	<key>draggableImagePressure</key>
	<string>liteStateFeedback</string>
	<key>indicatorMediatorSpeed</key>
	<string>pointVariableValidation</string>
	<key>notificationOutsideScope</key>
	<string>titleNearVisitor</string>
	<key>observerFromContext</key>
	<string>completerParamTint</string>
	<key>presenterSingletonMargin</key>
	<string>associatedConstraintAppearance</string>
	<key>sliderCommandOpacity</key>
	<string>customizedLogStyle</string>
	<key>taskPrototypeInterval</key>
	<string>dropdownbuttonAmongProxy</string>
</dict>
</plist>
