<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocThroughMethod</key>
	<string>completionOutsideJob</string>
	<key>descriptionTypePadding</key>
	<string>graphExceptMode</string>
	<key>dropdownbuttonInterpreterSkewx</key>
	<string>entityUntilAction</string>
	<key>repositorySingletonPadding</key>
	<string>synchronousTextureOffset</string>
	<key>respectiveMemberHead</key>
	<string>autoPromiseStyle</string>
	<key>rowLevelOrientation</key>
	<string>iterativeEffectCount</string>
	<key>sequentialBufferContrast</key>
	<string>positionProxyFormat</string>
	<key>temporarySingletonSpeed</key>
	<string>associatedScaffoldShape</string>
	<key>usedRadioSpacing</key>
	<string>specifyEntityDensity</string>
</dict>
</plist>
