<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticHashIndex</key>
	<string>normVersusMemento</string>
	<key>gesturedetectorAtStage</key>
	<string>subscriptionFunctionInteraction</string>
	<key>listenerInsideForm</key>
	<string>concreteSliderDuration</string>
	<key>localizationNearShape</key>
	<string>projectionScopeTag</string>
	<key>pageviewObserverMode</key>
	<string>missedSignPadding</string>
	<key>sequentialStoryboardColor</key>
	<string>statefulPageviewVelocity</string>
	<key>specifierAsPlatform</key>
	<string>gramContainKind</string>
</dict>
</plist>
