<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoTweenBehavior</key>
	<string>responsePerStyle</string>
	<key>methodPerStyle</key>
	<string>apertureOrEnvironment</string>
	<key>publicPresenterOffset</key>
	<string>backwardCupertinoAppearance</string>
	<key>standaloneMetadataShade</key>
	<string>popupChainEdge</string>
	<key>subsequentModulusMargin</key>
	<string>capacitiesValueCount</string>
</dict>
</plist>
