<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorAlongStrategy</key>
	<string>singletonCompositeVelocity</string>
	<key>beginnerModulusFlags</key>
	<string>accessibleRouterHue</string>
	<key>controllerContainComposite</key>
	<string>menuExceptStrategy</string>
	<key>convolutionViaFlyweight</key>
	<string>disabledChannelsBrightness</string>
	<key>durationModeMargin</key>
	<string>relationalResolverValidation</string>
	<key>originalRadiusSpeed</key>
	<string>storageNumberIndex</string>
	<key>prismaticBehaviorShape</key>
	<string>popupUntilLayer</string>
	<key>queueCommandIndex</key>
	<string>euclideanZoneSkewx</string>
	<key>subscriptionDespiteOperation</key>
	<string>awaitBesideState</string>
	<key>tensorSingletonFlags</key>
	<string>intensityIncludeType</string>
</dict>
</plist>
