<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>serializerNavigateHintedPeak</key>
    <string>SpeakPackAble</string>
    <key>beginTemplateSet</key>
    <string>SteelOptimalPreloadSet</string>
    <key>cliffTerminalSetClean</key>
    <string>InMultiplyWorkbenchSet</string>
    <key>naturalProjectorSet</key>
    <string>DeserializerPineOfTheory</string>
    <key>honestAssemblerStar</key>
    <string>AssignLock</string>
</dict>
</plist>
