<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>truePresenter</key>
    <string>SpontaneousVolumeCluster</string>
    <key>trustedDispatcherSetJubilantCalibrate</key>
    <string>ShadowPreloadBetween</string>
    <key>frostTransformRouterGifted</key>
    <string>MoorAlongside</string>
    <key>atomicValidatorSet</key>
    <string>WorthyBackupSwitcherSacred</string>
    <key>nascentAboveEnumBadge</key>
    <string>BalancerDownPeak</string>
    <key>fromMightyDialog</key>
    <string>AssignOfPipelineSet</string>
    <key>paradiseSyncerKind</key>
    <string>CatalogFrameOrderly</string>
    <key>serializerSetZealousSampleTexture</key>
    <string>PrairieDrawSpeckledStream</string>
    <key>sampleVoiceForcefulInterpreterSet</key>
    <string>RevokeInitializeShadowKeypath</string>
    <key>brokerPassiveInsertPage</key>
    <string>PlushAlongsideConverter</string>
</dict>
</plist>
