<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>restorePrivate</key>
    <string>SunAboveCompress</string>
    <key>factorySurfaceTrustedCompress</key>
    <string>TransformLuminousProviderCollectorSet</string>
    <key>visitorDeviceModular</key>
    <string>ContinueExpandInlet</string>
</dict>
</plist>
