<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>challengeBesideFunction</key>
	<string>modelPhaseOpacity</string>
	<key>dimensionDuringOperation</key>
	<string>prismaticConfigurationOrigin</string>
	<key>localizationIncludeLevel</key>
	<string>projectProxyForce</string>
	<key>observerOfSingleton</key>
	<string>durationContainScope</string>
</dict>
</plist>
