<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleInstructionFeedback</key>
	<string>greatContractionScale</string>
	<key>completerUntilPhase</key>
	<string>immediateCurveTransparency</string>
	<key>cupertinoCycleScale</key>
	<string>petAdapterSize</string>
	<key>errorTempleDensity</key>
	<string>spotCycleCount</string>
	<key>graphIncludePrototype</key>
	<string>channelsInsideContext</string>
	<key>nativeApertureLeft</key>
	<string>cubitViaKind</string>
	<key>repositoryThroughTier</key>
	<string>resultModeForce</string>
</dict>
</plist>
