<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeSubpixelPressure</key>
	<string>channelAmongPattern</string>
	<key>asyncAboutTier</key>
	<string>delegatePatternVisibility</string>
	<key>basicControllerColor</key>
	<string>particleTaskScale</string>
	<key>builderFlyweightTail</key>
	<string>awaitOutsideBuffer</string>
	<key>canvasBeyondInterpreter</key>
	<string>concurrentGiftResponse</string>
	<key>giftContainSystem</key>
	<string>sceneWithoutParameter</string>
	<key>operationDespiteAdapter</key>
	<string>backwardTextureFeedback</string>
	<key>permissiveSinkTransparency</key>
	<string>skirtPlatformType</string>
	<key>topicInsidePhase</key>
	<string>normalDrawerDelay</string>
</dict>
</plist>
