<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorPerCommand</key>
	<string>routerMementoLeft</string>
	<key>cartesianProfileBrightness</key>
	<string>touchProxyBound</string>
	<key>consultativeFutureFormat</key>
	<string>cubeAmongVariable</string>
	<key>exponentMethodTail</key>
	<string>convolutionWorkBottom</string>
	<key>injectionFormLeft</key>
	<string>imperativeCapsuleEdge</string>
	<key>modulusSingletonTop</key>
	<string>customCubeStyle</string>
	<key>positionCompositeKind</key>
	<string>mapBesideInterpreter</string>
	<key>sharedCardInterval</key>
	<string>beginnerNotifierHue</string>
	<key>visibleAspectratioVisibility</key>
	<string>directlyParticleLeft</string>
</dict>
</plist>
