<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionStoryboardBrightness</key>
	<string>metadataMethodBottom</string>
	<key>cubitSinceOperation</key>
	<string>temporaryGridCenter</string>
	<key>curveMementoPadding</key>
	<string>storeOrObserver</string>
	<key>mediumInterfaceDistance</key>
	<string>captionTempleRotation</string>
	<key>topicFromBuffer</key>
	<string>projectionActionDuration</string>
</dict>
</plist>
