<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>invisibleCardColor</key>
	<string>independentDependencyAppearance</string>
	<key>listviewBesideContext</key>
	<string>iconAdapterHue</string>
	<key>mainLabelVelocity</key>
	<string>beginnerRouteDepth</string>
	<key>popupSingletonVisible</key>
	<string>intensityScopeTop</string>
	<key>sliderVisitorHue</key>
	<string>routerViaStructure</string>
	<key>tabbarNumberDuration</key>
	<string>sensorPatternCenter</string>
	<key>vectorBridgeVisibility</key>
	<string>timerOperationMargin</string>
</dict>
</plist>
