<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>bareTable</key>
    <string>TargetModalBehind</string>
    <key>zephyrClassFromCool</key>
    <string>AgainstCheckVolume</string>
    <key>encodeTall</key>
    <string>LogJewelDrop</string>
    <key>tranquilFilterBound</key>
    <string>ListVisitorCoherentDraw</string>
</dict>
</plist>
