<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>closeBound</key>
    <string>ListRidgeBeneathProfile</string>
    <key>engineWreath</key>
    <string>FilterOfFormat</string>
    <key>stayAroundStackBold</key>
    <string>EndPackageDelegate</string>
    <key>drawValidator</key>
    <string>ContainerOwnerCancel</string>
    <key>happyDrop</key>
    <string>OpalSaverInAlongsideCreator</string>
</dict>
</plist>
