<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>brushActionType</key>
	<string>callbackBufferHue</string>
	<key>globalRichtextName</key>
	<string>curveFunctionSize</string>
	<key>heapTypeAcceleration</key>
	<string>deferredZoneSpacing</string>
	<key>newestRequestType</key>
	<string>factoryChainMode</string>
	<key>slashBesideAction</key>
	<string>durationCycleTag</string>
	<key>spriteNumberAlignment</key>
	<string>challengeContainProxy</string>
</dict>
</plist>
