<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>horizonInterpreter</key>
    <string>TranslateBuilderTrack</string>
    <key>diamondAlongsideLocal</key>
    <string>ImprovedDecoratorValidatorKitGracious</string>
    <key>compactSlipParser</key>
    <string>WriteAssemblerOutsideDetect</string>
</dict>
</plist>
