<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>humaneDatasetter</key>
    <string>AssemblerIndexerLoad</string>
    <key>serializerSacred</key>
    <string>DisplayGenuineMigrateElemental</string>
    <key>parserProgram</key>
    <string>ClearAnalyzeKey</string>
    <key>besideBriefCrownProviderKit</key>
    <string>RuntimeSetImageDecompressHelper</string>
</dict>
</plist>
