<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>managerHarmlessDefine</key>
    <string>IntimateClassClass</string>
    <key>detectCoherentExtension</key>
    <string>BeyondMagnetExtension</string>
    <key>initialThroughSun</key>
    <string>MergeSplitCalculate</string>
</dict>
</plist>
