<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorVisitorTop</key>
	<string>controllerFlyweightStyle</string>
	<key>alphaMediatorAppearance</key>
	<string>buttonThanMode</string>
	<key>borderAboutSingleton</key>
	<string>gridOfShape</string>
	<key>methodAsDecorator</key>
	<string>bitrateInVariable</string>
	<key>roleFlyweightAppearance</key>
	<string>previewFlyweightInteraction</string>
	<key>tickerNumberCenter</key>
	<string>granularTangentValidation</string>
</dict>
</plist>
