<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customizedGroupRate</key>
	<string>animationBridgeState</string>
	<key>layerModeLeft</key>
	<string>subpixelVariableAlignment</string>
	<key>modelSingletonSkewx</key>
	<string>switchTierEdge</string>
	<key>previewPerSystem</key>
	<string>backwardCellDistance</string>
	<key>referenceBeyondPhase</key>
	<string>permanentShaderTransparency</string>
	<key>requestStyleInset</key>
	<string>completerStageState</string>
	<key>tickerAndPrototype</key>
	<string>segmentInsideFunction</string>
	<key>workflowOperationAppearance</key>
	<string>signContextHue</string>
</dict>
</plist>
