<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncVisitorForce</key>
	<string>swiftNearOperation</string>
	<key>dimensionStageForce</key>
	<string>boxshadowAroundShape</string>
	<key>disparateButtonDepth</key>
	<string>arithmeticQueueOrigin</string>
	<key>durationIncludeContext</key>
	<string>interfaceNearCycle</string>
	<key>gridviewInsideOperation</key>
	<string>tabbarInComposite</string>
	<key>specifyBaseRotation</key>
	<string>vectorScopeDensity</string>
	<key>uniformNormType</key>
	<string>elasticFeatureHue</string>
</dict>
</plist>
