<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cellAndOperation</key>
	<string>histogramVisitorState</string>
	<key>futureEnvironmentTop</key>
	<string>transformerProcessSkewy</string>
	<key>immediateScreenColor</key>
	<string>curveExceptType</string>
	<key>largeKernelOrientation</key>
	<string>concurrentRadiusPosition</string>
	<key>mapIncludeInterpreter</key>
	<string>sortedConfigurationKind</string>
	<key>playbackContainVariable</key>
	<string>graphValueMode</string>
	<key>pointScopeFlags</key>
	<string>actionAwayAction</string>
	<key>previewVarDistance</key>
	<string>titleAgainstPhase</string>
</dict>
</plist>
