<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicTabviewRotation</key>
	<string>sharedHandlerSpacing</string>
	<key>challengeTypeVisibility</key>
	<string>switchSingletonHead</string>
	<key>descriptionScopeDirection</key>
	<string>labelValueFlags</string>
	<key>layoutCommandCenter</key>
	<string>sequentialConstraintBehavior</string>
	<key>mainTweenSpeed</key>
	<string>positionedDuringOperation</string>
	<key>referenceWithTemple</key>
	<string>basicOperationKind</string>
	<key>routeAlongVisitor</key>
	<string>mediumMediaTag</string>
	<key>subpixelDespiteMediator</key>
	<string>gradientContainPhase</string>
	<key>tickerThroughMediator</key>
	<string>layerViaCommand</string>
</dict>
</plist>
