<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>vectorProjectorSetVerify</key>
    <string>SaverTopologySetReflectLucid</string>
    <key>workspaceSetReactiveRender</key>
    <string>FixCrownConsistent</string>
    <key>rangeCore</key>
    <string>SignerNearLattice</string>
    <key>urbanConstructInterpreterSet</key>
    <string>LogicalResolverMiddlewareSet</string>
    <key>subtleSyncerStation</key>
    <string>WreathFillMapperSetWing</string>
    <key>desertSkilled</key>
    <string>AssemblePromiseColumn</string>
    <key>corePreload</key>
    <string>PaintNotebookDiscrete</string>
</dict>
</plist>
