<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constMaterialCount</key>
	<string>themeWithoutMode</string>
	<key>constraintAwayLayer</key>
	<string>transitionViaCycle</string>
	<key>cupertinoIndicatorInteraction</key>
	<string>requiredFlexScale</string>
	<key>effectMementoVisibility</key>
	<string>equipmentIncludeType</string>
	<key>flexFunctionTail</key>
	<string>reducerVariableCoord</string>
	<key>framePhaseType</key>
	<string>adaptiveDelegateSize</string>
	<key>missedTransformerRate</key>
	<string>radioAndChain</string>
	<key>responsiveQueueDensity</key>
	<string>animationMediatorForce</string>
	<key>textureAndTemple</key>
	<string>modelBeyondValue</string>
</dict>
</plist>
