<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>vividlyRest</key>
    <string>FacadeOasisCollection</string>
    <key>oakenSnapshotter</key>
    <string>OrchestratorGetInFine</string>
    <key>inferenceSpectrumSetPristine</key>
    <string>DisplayMemoryBalancerRiver</string>
    <key>vectorSetBalancerEncode</key>
    <string>ManageProviderKitTemplateSetProviderKit</string>
    <key>parallelFrom</key>
    <string>WatchAnchorLevelDataSource</string>
    <key>distantTestHeaderSetPipelineSet</key>
    <string>PageProperDeserializerPreviewWealth</string>
    <key>wirelessRow</key>
    <string>FieldInterpreterSetSchedulerSetTall</string>
    <key>fleetingTrackAudioWorkbenchSet</key>
    <string>ConfigureSignerFleetAuthenticate</string>
    <key>brokerRunMight</key>
    <string>PoplarResumeVineStorm</string>
    <key>protocolGenericRelease</key>
    <string>TranslateHarnessSpiceInsight</string>
</dict>
</plist>
