<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>coordinatorValueBottom</key>
	<string>routeOperationTension</string>
	<key>curveForAdapter</key>
	<string>challengeParameterFormat</string>
	<key>fixedRadiusKind</key>
	<string>otherRichtextOffset</string>
	<key>hardTransitionVisible</key>
	<string>modelAroundChain</string>
	<key>intensityAwayShape</key>
	<string>sliderOfInterpreter</string>
	<key>sliderPerLayer</key>
	<string>baseJobResponse</string>
</dict>
</plist>
