<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>eventOrStrategy</key>
	<string>originalPlaybackPressure</string>
	<key>expandedLayerTop</key>
	<string>exceptionFacadeName</string>
	<key>litePriorityInset</key>
	<string>sharedSubscriptionBehavior</string>
	<key>menuOfVariable</key>
	<string>gesturedetectorInsideLevel</string>
	<key>rowAsMethod</key>
	<string>sceneStyleAcceleration</string>
	<key>secondTernaryTail</key>
	<string>streamFacadeBottom</string>
	<key>semanticTimerDirection</key>
	<string>layoutFrameworkOrientation</string>
	<key>slashInParameter</key>
	<string>taskFacadeTension</string>
	<key>uniqueResultName</key>
	<string>customDocumentSize</string>
</dict>
</plist>
