<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonContainStructure</key>
	<string>movementAsContext</string>
	<key>cacheAroundPlatform</key>
	<string>animatedSignScale</string>
	<key>interfaceFacadeEdge</key>
	<string>arithmeticAndContext</string>
	<key>managerStrategyKind</key>
	<string>displayableSceneTail</string>
	<key>materialConsumerSpeed</key>
	<string>durationProcessDistance</string>
	<key>priorLossForce</key>
	<string>immutableSceneState</string>
	<key>retainedTaskTint</key>
	<string>indicatorTypeAppearance</string>
	<key>typicalErrorFeedback</key>
	<string>synchronousChannelsType</string>
</dict>
</plist>
