<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>intensityTypeTop</key>
	<string>spineByState</string>
	<key>resolverDespiteEnvironment</key>
	<string>repositoryFunctionOrigin</string>
	<key>routeFromFramework</key>
	<string>accessoryStructureLeft</string>
	<key>stackCycleBound</key>
	<string>textureJobStatus</string>
	<key>symbolCompositeMomentum</key>
	<string>diversifiedConstraintTheme</string>
	<key>tangentContainOperation</key>
	<string>profileActivityHead</string>
</dict>
</plist>
