<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectratioInsideForm</key>
	<string>asyncCommandState</string>
	<key>channelVarSpeed</key>
	<string>topicFromSingleton</string>
	<key>deferredServiceBehavior</key>
	<string>metadataModeName</string>
	<key>displayableChannelsContrast</key>
	<string>buttonModeOrigin</string>
	<key>gemVarColor</key>
	<string>visibleSessionSkewy</string>
	<key>reducerBesideSystem</key>
	<string>pointStructureAcceleration</string>
	<key>resultBridgeDelay</key>
	<string>protocolLayerScale</string>
	<key>subpixelBridgeMargin</key>
	<string>eagerMemberTag</string>
	<key>widgetAndSingleton</key>
	<string>unactivatedSegmentFrequency</string>
</dict>
</plist>
