<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardObserverAcceleration</key>
	<string>labelLikeFramework</string>
	<key>equipmentTaskSpeed</key>
	<string>appbarBufferShape</string>
	<key>ignoredSinkPressure</key>
	<string>extensionAdapterBrightness</string>
	<key>layerLikeVar</key>
	<string>utilAboutMode</string>
	<key>richtextFromFacade</key>
	<string>similarAllocatorHue</string>
	<key>stateOrPrototype</key>
	<string>modelContainTemple</string>
</dict>
</plist>
