<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delegateThroughSingleton</key>
	<string>draggableTransitionResponse</string>
	<key>greatListenerSize</key>
	<string>lastRemainderSaturation</string>
	<key>providerStyleBehavior</key>
	<string>multiTextTransparency</string>
</dict>
</plist>
