<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constManagerSpeed</key>
	<string>touchThroughMethod</string>
	<key>fusedProjectionVisible</key>
	<string>opaqueChecklistEdge</string>
	<key>lazyErrorKind</key>
	<string>deferredErrorTint</string>
	<key>prismaticSensorIndex</key>
	<string>rectTypeColor</string>
	<key>queueNearContext</key>
	<string>channelStyleTheme</string>
	<key>streamAlongNumber</key>
	<string>unaryProxyState</string>
</dict>
</plist>
