<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chartWithSystem</key>
	<string>smartPreviewFormat</string>
	<key>heroVersusFramework</key>
	<string>interfaceExceptLayer</string>
	<key>intensityWithChain</key>
	<string>tangentModeFeedback</string>
	<key>presenterNumberMargin</key>
	<string>inactiveInstructionDuration</string>
	<key>synchronousScaffoldOffset</key>
	<string>popupThroughFacade</string>
	<key>synchronousSliderMode</key>
	<string>behaviorIncludeVariable</string>
</dict>
</plist>
