<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commandForAdapter</key>
	<string>unaryShapeShade</string>
	<key>featureProcessOffset</key>
	<string>cursorShapeName</string>
	<key>originalSpineBound</key>
	<string>tweenInCommand</string>
	<key>publicTransformerStyle</key>
	<string>deferredOperationEdge</string>
	<key>robustEquipmentValidation</key>
	<string>columnByNumber</string>
</dict>
</plist>
