<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorAwayEnvironment</key>
	<string>methodParameterSpeed</string>
	<key>dynamicGetxOrientation</key>
	<string>equalizationBesideVariable</string>
	<key>ignoredMenuBottom</key>
	<string>numericalNavigatorStatus</string>
	<key>independentIntegerShade</key>
	<string>unactivatedGrainAlignment</string>
	<key>mainAnimationForce</key>
	<string>factoryAboutCycle</string>
	<key>mobxBridgeState</key>
	<string>resolverAgainstType</string>
	<key>skinValueInterval</key>
	<string>permanentRequestFeedback</string>
	<key>unaryBesideWork</key>
	<string>callbackSystemVisibility</string>
</dict>
</plist>
