<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderAboutStage</key>
	<string>directlyRequestVisible</string>
	<key>cubeFacadePressure</key>
	<string>intermediateWidgetRotation</string>
	<key>drawerBesideDecorator</key>
	<string>easyFrameSize</string>
	<key>dynamicCoordinatorTint</key>
	<string>modelDuringValue</string>
	<key>effectAtBridge</key>
	<string>diversifiedExponentContrast</string>
	<key>euclideanTouchFeedback</key>
	<string>draggableEqualizationTension</string>
	<key>navigationModeOffset</key>
	<string>rowCompositeOffset</string>
	<key>notifierAroundProxy</key>
	<string>providerTempleColor</string>
	<key>popupThroughValue</key>
	<string>previewInsideFlyweight</string>
	<key>standaloneVariantOpacity</key>
	<string>tabbarStrategyInset</string>
</dict>
</plist>
