<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capacitiesOrTier</key>
	<string>callbackDespiteLayer</string>
	<key>exceptionSingletonCount</key>
	<string>hashOperationPadding</string>
	<key>imageAlongObserver</key>
	<string>bufferNumberTheme</string>
	<key>interfaceOperationHead</key>
	<string>spineBufferFormat</string>
	<key>queueByPattern</key>
	<string>playbackAmongCommand</string>
	<key>requestAgainstPattern</key>
	<string>unaryStrategyKind</string>
	<key>responsiveMatrixHead</key>
	<string>cupertinoDocumentShape</string>
	<key>scrollAdapterCoord</key>
	<string>modelThanBridge</string>
	<key>transformerScopeName</key>
	<string>offsetLikeOperation</string>
</dict>
</plist>
