<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedCupertinoAppearance</key>
	<string>notifierTierResponse</string>
	<key>captionMediatorTop</key>
	<string>catalystContextOffset</string>
	<key>listenerCycleBorder</key>
	<string>persistentToolBehavior</string>
	<key>methodInJob</key>
	<string>substantialCompletionSkewy</string>
	<key>querySystemStatus</key>
	<string>techniqueParamInteraction</string>
	<key>sineNearType</key>
	<string>alignmentAsStage</string>
	<key>singleCoordinatorDistance</key>
	<string>accessiblePresenterStyle</string>
	<key>spritePlatformShade</key>
	<string>disabledSpritePosition</string>
	<key>subtleRadiusOrigin</key>
	<string>publicControllerHue</string>
	<key>usedDelegatePosition</key>
	<string>sliderActivityMode</string>
</dict>
</plist>
