<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>catalystAroundFramework</key>
	<string>alphaExceptLayer</string>
	<key>chapterThanPhase</key>
	<string>firstConfigurationBound</string>
	<key>cycleInsideActivity</key>
	<string>criticalSinkSpeed</string>
	<key>integerOfForm</key>
	<string>accordionFutureOpacity</string>
	<key>metadataAgainstBridge</key>
	<string>statefulDurationType</string>
	<key>similarBasePadding</key>
	<string>navigationAlongTask</string>
	<key>sinkWithType</key>
	<string>graphStyleTransparency</string>
	<key>subtleWidgetOpacity</key>
	<string>singletonSinceObserver</string>
	<key>textureWithMode</key>
	<string>protocolPhaseMode</string>
	<key>usageVersusTier</key>
	<string>managerAgainstType</string>
</dict>
</plist>
