<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>curveLikeSystem</key>
	<string>denseProjectionVisible</string>
	<key>hyperbolicBuilderMomentum</key>
	<string>disabledSlashType</string>
	<key>intensityStrategyEdge</key>
	<string>dependencyFormAlignment</string>
	<key>navigationThroughForm</key>
	<string>themeOfMediator</string>
</dict>
</plist>
