<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>brushLikeShape</key>
	<string>uniqueCoordinatorTint</string>
	<key>flexAroundFunction</key>
	<string>specifyCertificatePadding</string>
	<key>painterBridgeRate</key>
	<string>desktopPointDelay</string>
	<key>protocolMediatorMode</key>
	<string>invisibleSceneOrigin</string>
</dict>
</plist>
