<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocAgainstAdapter</key>
	<string>associatedListenerAppearance</string>
	<key>flexibleProviderKind</key>
	<string>gridviewAsJob</string>
	<key>imperativeBulletPosition</key>
	<string>masterMethodStyle</string>
	<key>independentFutureCenter</key>
	<string>builderInterpreterVisibility</string>
	<key>interactorJobTag</key>
	<string>factoryBridgeStatus</string>
	<key>positionScopeSkewx</key>
	<string>baseFlyweightColor</string>
	<key>prismaticGraphMomentum</key>
	<string>secondTickerContrast</string>
	<key>routeBeyondPattern</key>
	<string>chartShapeFrequency</string>
	<key>titleActivityFormat</key>
	<string>equipmentScopeMode</string>
</dict>
</plist>
