<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureTaskRate</key>
	<string>accessoryVersusLevel</string>
	<key>bufferAsStage</key>
	<string>independentChecklistInteraction</string>
	<key>crudeGradientRight</key>
	<string>sizeInterpreterSaturation</string>
	<key>desktopCycleName</key>
	<string>eagerOptionState</string>
	<key>euclideanModalContrast</key>
	<string>specifierCycleDepth</string>
	<key>layerLayerContrast</key>
	<string>controllerExceptPlatform</string>
	<key>offsetBufferTail</key>
	<string>resourceNumberAppearance</string>
	<key>rapidOperationContrast</key>
	<string>challengeDuringBridge</string>
	<key>smallChannelForce</key>
	<string>capacitiesNearEnvironment</string>
	<key>uniqueRowState</key>
	<string>comprehensiveSineInterval</string>
</dict>
</plist>
