<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>ownerFlukeRefreshKind</key>
    <string>InsideObserverScaleCreative</string>
    <key>nativeCoordinatorHideQuirk</key>
    <string>BesideDisplayDirect</string>
    <key>sensorView</key>
    <string>OffBuoyantGroupSplit</string>
    <key>serializerGoodBesideMystic</key>
    <string>ReferenceWideTargetRapids</string>
    <key>beforeType</key>
    <string>HonestRuggedWaitPlanet</string>
</dict>
</plist>
