<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>inTypeSmart</key>
    <string>TimerUnityAmongHandler</string>
    <key>buoyantDuringMediator</key>
    <string>CacheMatchInterpreter</string>
    <key>quickCleanStop</key>
    <string>SummitSensor</string>
    <key>factoryFeasible</key>
    <string>FormatterTrusty</string>
</dict>
</plist>
