<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>encodeOwnerRequest</key>
    <string>ProcessHavenPerformMap</string>
    <key>ofManager</key>
    <string>AgentStairCleanSkilled</string>
    <key>clearLooseStepManager</key>
    <string>HavenBeneathPacific</string>
    <key>sternDuneEnumAbove</key>
    <string>HonestCompactVictoriousZenith</string>
    <key>executeTideDefine</key>
    <string>JewelWaitSimpleHandy</string>
</dict>
</plist>
