<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>soundSternRemove</key>
    <string>IndexDrawTrimCoder</string>
    <key>referenceUpTactfulHeath</key>
    <string>BindWithReadPool</string>
    <key>dramaticGlad</key>
    <string>SliceNatural</string>
    <key>codecJade</key>
    <string>ManagerKnownBaseUnity</string>
</dict>
</plist>
