<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>sweetManagerPool</key>
    <string>WithTrackCryptAmidGraceful</string>
    <key>printPetite</key>
    <string>TeamDisplay</string>
    <key>steelCelestialLock</key>
    <string>KindExecute</string>
    <key>moduleUpwardBelow</key>
    <string>SetSkillShowSourceTransform</string>
    <key>stackRunCompactRaven</key>
    <string>BalancedModestTurnDigital</string>
    <key>happyFindTransformable</key>
    <string>CompatibleForwardSymbolClearBroker</string>
    <key>judiciousTuneValidator</key>
    <string>PrintCloudPrintContinue</string>
</dict>
</plist>
