<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>fromKnollVirtuous</key>
    <string>ManagerLeanDecodeFilter</string>
    <key>typePerformVictorious</key>
    <string>GraveUrbaneGlobeLarge</string>
    <key>wealthyOffsetPast</key>
    <string>NookStarModuleFormatterOffset</string>
    <key>commandMoorThinFill</key>
    <string>ResourcePleasedSparkAlongside</string>
    <key>processDecoratorAbyss</key>
    <string>OfDataSourceFilterNovel</string>
</dict>
</plist>
