<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>typeGoodStop</key>
    <string>StartConnectRegister</string>
    <key>robustCoordinatorBehindOrchard</key>
    <string>BonnyTransformStyleDome</string>
    <key>jasperDominantOfHeader</key>
    <string>TurnShadowTargetBetweenIsland</string>
    <key>merryOffset</key>
    <string>VoyageResumeTrain</string>
    <key>genuineDeserializer</key>
    <string>GroupReleaseMarkAdvanced</string>
</dict>
</plist>
