<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>modifyGiftedSpring</key>
    <string>SampleDatasetArmatureUntil</string>
    <key>converterImportAbyssTrue</key>
    <string>EnableViewportSetRound</string>
    <key>seasonalWorkbenchSetNectar</key>
    <string>TribeHarmonyCivic</string>
    <key>templateSetCleanLedger</key>
    <string>ZephyrSegmentGoodLattice</string>
    <key>flowPlayUpbeatCoordinator</key>
    <string>BroadTrackerContainerSet</string>
    <key>fluentFactoryMigrate</key>
    <string>SpotBenchmarkIndexGrove</string>
</dict>
</plist>
