<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>curveParamSpeed</key>
	<string>sizeLikeDecorator</string>
	<key>dialogsAdapterForce</key>
	<string>compositionJobOrientation</string>
	<key>gridviewProxyIndex</key>
	<string>sequentialScreenRight</string>
	<key>intermediateLabelRight</key>
	<string>cupertinoChapterVisible</string>
	<key>persistentGraphicLocation</key>
	<string>frameInStyle</string>
	<key>singletonActionLeft</key>
	<string>intermediateServiceContrast</string>
	<key>specifierVariableBehavior</key>
	<string>textIncludeChain</string>
	<key>subtleTransformerFlags</key>
	<string>tappableAssetSkewx</string>
</dict>
</plist>
