<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetExceptValue</key>
	<string>nodeAmongTask</string>
	<key>asyncPatternRight</key>
	<string>projectVersusMode</string>
	<key>frameStageDepth</key>
	<string>elasticTextInteraction</string>
	<key>parallelAppbarFormat</key>
	<string>behaviorLevelVisible</string>
	<key>priorCurveVelocity</key>
	<string>sineWorkTop</string>
	<key>radiusScopeOffset</key>
	<string>singletonAndWork</string>
	<key>storageAboutTask</key>
	<string>isolateAlongVisitor</string>
	<key>tensorTextureBrightness</key>
	<string>rectByShape</string>
	<key>transformerLikeTask</key>
	<string>directPointRight</string>
	<key>utilFromShape</key>
	<string>heroThanProcess</string>
</dict>
</plist>
