<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeInteractorCoord</key>
	<string>requiredTextRotation</string>
	<key>blocLikeMode</key>
	<string>bitrateCyclePadding</string>
	<key>challengePhaseBrightness</key>
	<string>canvasAmongFlyweight</string>
	<key>curvePerCycle</key>
	<string>webInkwellShade</string>
	<key>gateSingletonInterval</key>
	<string>eventBridgeHue</string>
	<key>immediateGridviewIndex</key>
	<string>immediateMatrixFormat</string>
	<key>listenerAmongDecorator</key>
	<string>cubeFromParam</string>
	<key>reactiveModalTheme</key>
	<string>blocSinceFacade</string>
	<key>sortedFrameLeft</key>
	<string>graphicVisitorTint</string>
</dict>
</plist>
