<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>eventContextSkewx</key>
	<string>delicateAspectRate</string>
	<key>gradientFunctionFormat</key>
	<string>reducerJobSkewx</string>
	<key>independentBitrateAcceleration</key>
	<string>subsequentGroupContrast</string>
	<key>independentSinkBehavior</key>
	<string>mediocreStreamInterval</string>
	<key>pivotalBuilderMargin</key>
	<string>agileStorageSize</string>
	<key>previewDespiteEnvironment</key>
	<string>respectiveBuilderSkewx</string>
	<key>radiusInsideLevel</key>
	<string>hierarchicalNavigationForce</string>
</dict>
</plist>
